{% trans_default_domain 'page' %}

{% extends('theme/base-map-embed.html.twig') %}

{% block body %}

<script src="{{ asset('js/transLib.js') }}"></script>
<script src="{{ asset("js/searchObj.js") }}"></script>
<link rel="stylesheet" href="{{ asset('/css/page/page.css') }}" />

<style>
#map-container{
	top: 0px!important;
	right: 0px!important;
	left: 0px!important;
	bottom: 0px!important;
}
</style>

<div class="header-spacer"></div>

<div class="container app-search">
	<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

		<div id="map-container" class="d-none"></div>

	</div>
</div>

<script src="{{ asset('js/sig/sig.js') }}"></script>
<script>


	searchObj.typesSearch = "{% if typesSearch is defined %}{{ typesSearch }}{% endif %}";
	searchObj.yourSearch =  "{% if yourSearch is defined %}{{ yourSearch }}{% endif %}";
	searchObj.results  =  {{ jsonRes|json_encode|raw }};

	$( document ).ready(function() {
		//searchObj.initUi();
		searchObj.showMap();
    });
</script>

{% endblock %}
