{% trans_default_domain 'page' %}

{% extends('theme/base-app.html.twig') %}

{% block body %}

	<div class="header-spacer"></div>

	<!-- Top Header -->
	<div class="container">
		<div class="h5 letter-red">
		<i class="fa fa-ban"></i> 
			{% trans %}Sorry, this page not exists in our database.{% endtrans %}<br>
			{% trans %}The page may have been deleted by his owner, or maybe never existed (bad url ?){% endtrans %}.
		</div>
		
	</div>

{% endblock %}