{% trans_default_domain 'page' %}

{% extends('theme/base-app.html.twig') %}

{% block metadata %}
    <meta charset="UTF-8" />
    <meta property="og:url"                content="{{ base_url }}/page/{{ page.slug }}" />
    <meta property="og:type"               content="application" />

    {% if page.isPrivate == true %}
    	<meta name="robots" content="noindex" />
    {% else %}
    	<meta name="robots" content="nofollow" />
	    <meta property="og:title"              content="Nexxo | {{ page.name }}" />
	    <meta property="og:description"        content="{{ page.description }}" />
	    <meta property="og:image"              content="{{ base_url }}{{ asset('uploads/imgBanner/' ~ page.imageBanner) }}" />
    {% endif %}
{% endblock %}

{% block title %}
	<title data-title="Nexxo | {{ page.name }}" data-count="0">
		Nexxo | {{ page.name }}
	</title>
{% endblock %}

{% block body %}


<div class="header-spacer"></div>

<!-- Top Header -->
<div class="container">
	<div class="">
		{% if page.report != null %}

			{% if page.report.status == "DISABLED" %}
				<div class="h5 col-12 text-left letter-red">
					<i class="fa fa-exclamation-triangle"></i> 
					{% trans %}This Page has been disabled{% endtrans %}
				</div>
			{% elseif page.report.status == "VOTE_OPEN" %}

				<div class="h5 col-12 text-left letter-red">
						<i class="fa fa-exclamation-triangle"></i> 
						{% trans %}This page has been reported by{% endtrans %} {{ page.report.authors|length }} 
						{% transchoice page.report.authors|length %}[0,1] people|[2,Inf[ people{% endtranschoice %}
				</div>
				<div class="h5 col-12 text-left">
					<small class="bold">
						<i class="fa fa-angle-down"></i> 
						<i class="fa fa-balance-scale"></i>
						{% if date(page.report.dateEndVote) < date() %}
							{% trans %}The voting procedure is over{% endtrans %}
						{% else %}
							{% trans %}Please, vote to moderate this content{% endtrans %}
						{% endif %}
					</small> 
				</div>
				{% if page.report.authors|length > 0 %}
					<div class="report-container" data-report-id="{{ page.report.id }}">
						{{ include ('report/bar-vote.html.twig', { "report" : page.report }) }}
					</div>
				{% endif %}

			{% endif %}

		{% endif %}

		<div class="d-flex">
			<h3 class="col-6 letter-{{ page.colorType }}">
				<i class="fa fa-{{ page.faIcon }} padding"
					style="margin-top: -25px; font-size:38px;"></i> 
			 	<span style="text-transform: capitalize;">{{ page.type|trans }}</span>
			 </h3>
			
			{% if page.type != "user" %}
				<div class="h5 col-6 text-right padding-top-10">
					{% if page.parentPage is not null and page.parentPage.type != "user" %}
						<small>
							<i class="fa fa-group"></i> {% trans %}managed by{% endtrans %}
						</small> 
						<a href="{{ path('page', { 'slug' : page.parentPage.slug })}}">{{ page.parentPage.name }}</a>
					{% else %}
						<small>
							<i class="fa fa-user"></i> {% trans %}created by{% endtrans %}
						</small> 
						<a href="{{ path('page', { 'slug' : page.owner.myUserPage.slug })}}">{{ page.owner.realUsername }}</a>
					{% endif %}
				</div>
			{% endif %}
		</div>

	</div>
	<style>
	
	</style>
	<div class="row">
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="ui-block">
				<div class="top-header">
					<div class="top-header-thumb {% if page.imageBanner == "default.png" %}banner-empty{% endif %}">
						<img src="{{ asset('uploads/imgBanner/' ~ page.imageBanner) }}"/>
					</div>
					{% if app.user.myUserPage.relations.getImAdminOf(page.slug) %}
						<span class="badge-admin" data-toggle="tooltip" data-placement="left"
							  data-original-title="{% trans %}You are admin of this page{% endtrans %}">
							<i class="fa fa-user-secret"></i>
						</span>
					{% endif %}
					<a href="{{ path('page', { 'slug' : page.slug }) }}" 
					   class="{%if view == "main"%}active{% endif %} block-page-name margin-bottom-15" style="min-width:70%;">
						    <img src="{{ asset('uploads/imgProfil/' ~ page.imageProfil) }}" class=" float-left" height="50"/>
						    <div class="float-left margin-left-10"style="line-height: 17px;">{{ page.name }} <br>
							   {% if page.city != "" and page.isConfAuth("SHOW_ADDRESS", app.user.myUserPage) %}
							   		<small><i class="fa fa-map-marker"></i> {{ page.city }}</small><br>
							   {% endif %}
							   {% if page.type != "user" %}
							   		<small><i class="fa fa-{{ page.faIcon }}"></i> {{ page.type|trans }}</small>
							   {% endif %}
							</div>
					</a>
					<div class="profile-section">
						<div class="row">
							<div class="col-lg-5 col-md-5 ">
								<ul class="profile-menu">
									<li>
										<a href="{{ path('page', { 'slug' : page.slug }) }}" 
										   class="{%if view == "main"%}active{% endif %}">
										  <i class="fa fa-home fa-2x"></i>
										</a>
									</li>
									<li>
										<a href="{{ path('page', { 'slug' : page.slug, 'view' : 'about' })}}" 
										   class="{%if view == "about"%}active{% endif %}">
										   {% trans %}About{% endtrans %}
										</a>
									</li>
									<li>
										<a href="{{ path('page', { 'slug' : page.slug, 'view' : 'community' })}}" 
										   class="{%if view == "community"%}active{% endif %}">
										   {% trans %}Community{% endtrans %}
										</a>
									</li>
								</ul>
							</div>
							<div class="col-lg-5 ml-auto col-md-5 margin-top-5 friend-item-content" id="{{ page.slug }}">
								<ul class="profile-menu">
									<li>
										<a href="javascript:" 
												class="btn-send-request-like 
														{% if app.user.myUserPage.relations.ILike(page.slug) == true %}
													  		letter-green
													    {% endif %}"
												{% if app.user.myUserPage.relations.ILike(page.slug) == false %}
													title="{% trans %}Like this page{% endtrans %}"
													data-slug-page-confirm="true"
												{% else %}
													title="{% trans %}You like it{% endtrans %} !"
													data-slug-page-confirm="true"
												{% endif %}
												data-slug-page="{{ page.slug }}"
												data-id-page="{{ page.id }}">
											<i class="fa fa-thumbs-o-up" style="font-size:16px;"></i> 
											<span class="count-item-like">{{ page.relations.likers|length }}</span>
										</a>
									</li>
									<li>
										<a href="javascript:"  data-toggle="modal" data-target="#modal-quickview"
												class="btn-send-request-follow 
														{% if app.user.myUserPage.relations.inFollows(page.slug) == true %}
													  		letter-blue
													    {% endif %}"
												{% if app.user.myUserPage.relations.inFollows(page.slug) == false %}
													title="{% trans %}Follow this page{% endtrans %}"
												{% else %}
													title="{% trans %}You are follower{% endtrans %} !"
												{% endif %}
												data-placement="bottom"
												data-toggle="tooltip" 
												data-slug-page="{{ page.slug }}">
											<i class="fa fa-link" style="font-size:16px;"></i> 
											<span class="count-item-follow">{{ page.relations.followers|length }}</span>
										</a>
									</li>

									<li>
										<a href="javascript:"  data-toggle="modal" data-target="#modal-quickview"
											class="btn-send-request-friend 
													{% if page.relations.ImFriend(app.user.myUserPage.slug) == true %}
												  		letter-blue
												    {% endif %}" 

											{% if page.type == "user" %}
												{% if page.relations.ImFriend(app.user.myUserPage.slug) == false %}
													title="{% trans %}Send a friend request{% endtrans %}"
												{% else %}
													title="{% trans %}You are friends{% endtrans %} !"
												{% endif %}
											{% else %}
												{% if page.relations.ImFriend(app.user.myUserPage.slug) == false %}
													title="{% trans %}Send a member request{% endtrans %}"
												{% else %}
													title="{% trans %}You are member{% endtrans %} !"
												{% endif %}
											{% endif %}
											data-placement="bottom"
											data-toggle="tooltip"
											data-slug-page="{{ page.slug }}">
												<i class="fa fa-hand-peace-o" style="font-size:16px;"></i>
												<span class="count-item-friend">
													{% if page.type == "user" %}{{ page.relations.realFriends|length }}{% endif %}
													{% if page.type != "user" %}{{ page.relations.friends|length }}{% endif %}
												</span>
										</a>
									</li>

									{% if page.type == "event" or page.type == "project" %}
									<li>
										<a href="javascript:"  data-toggle="modal" data-target="#modal-quickview"
											class="btn-send-request-participate 
													{% if page.relations.InParticipants(app.user.myUserPage.slug) == true %}
												  		letter-blue
												    {% endif %}" 
											{% if page.relations.InParticipants(app.user.myUserPage.slug) == false %}
												title="{% trans %}I participate{% endtrans %}"
											{% else %}
												title="{% trans %}You participate{% endtrans %} !"
											{% endif %}
											data-placement="bottom"
											data-toggle="tooltip"
											data-slug-page="{{ page.slug }}">
										<i class="fa fa-group" style="font-size:16px;"></i>
										<span class="count-item-participate">{{ page.relations.participants|length }}</span>
										</a>
									</li>
									{% endif %}
									
									{% if page.id != app.user.myUserPage.id and app.user.myUserPage.isActive == true %}
									<li>
										<div class="more">
											{# <svg class="olymp-three-dots-icon"><use xlink:href="{{ asset('icons/icons.svg') }}#olymp-three-dots-icon"></use></svg> #}
											<i class="fa fa-ellipsis-h"></i>
											<ul class="more-dropdown more-with-triangle">
												{% if page.report != null and 
													  page.report.inAuthors(app.user.myUserPage.slug) == true %}
													<li>
														<a href="javascript:" class=" letter-red">
															<i class="fa fa-flag"></i> {% trans %}You already reported this page{% endtrans %}
														</a>
													</li>
												{% else %}
													<li>
														<a href="javascript:" class="btn-want-send-report letter-red" 
														 	data-toggle="modal" data-target="#modal-quickview"
															data-about-type="page" data-about-id="{{ page.id }}">
															<i class="fa fa-flag"></i> {% trans %}Report this page{% endtrans %}
														</a>
													</li>
												{% endif %}
												{% if page.type != "user" %}
													{% if app.user.myUserPage.relations.ImAdminOf(page.slug) == false %}
														<li>
															<a href="javascript:" class="btn-send-request-admin" data-slug-page="{{ page.slug }}" data-toggle="modal" data-target="#modal-quickview">
																<i class="fa fa-user-secret"></i> {% trans %}Send admin request{% endtrans %}
															</a>
														</li>
													{% else %}
														<li>
															<a href="javascript:" class="letter-green btn-send-request-admin" data-slug-page="{{ page.slug }}" data-toggle="modal" data-target="#modal-quickview">
																<i class="fa fa-user-secret"></i> {% trans %}You are admin{% endtrans %}
															</a>
														</li>
													{% endif %}
												{% endif %}
											</ul>
										</div>
									</li>
									{% endif %}
								</ul>
							</div>
						</div>

						<div class="control-block-button">
							
							{% if page.slug != app.user.myUserPage.slug %}
								{% if page.isConfAuth("AUTH_CHAT", app.user.myUserPage) %}
								{% if app.user.myUserPage.report == null or 
									 (app.user.myUserPage.report.status != "DISABLED" and app.user.myUserPage.isActive == true) %}
								<a href="#" class="btn btn-control bg-purple js-chat-open" 
									data-slug="{{ page.slug }}" data-name="{{ page.name }}" 
									data-type="{{ page.type }}"
									{% if page.informations.discord != "" and 
									   page.isConfAuth("SHOW_INFO_DISCORD", app.user.myUserPage) %}
				   						data-discord="{{ page.informations.discord }}" 
				   					{% endif %}
	   								data-thumb="{{ page.imageProfil }}">
									{# <svg class="olymp-chat---messages-icon">
										<use xlink:href="{{ asset('icons/icons.svg') }}#olymp-chat---messages-icon"></use>
									</svg> #}
									<i class="fa fa-comments fa-2x"></i>
								</a>
								{% endif %}
								{% endif %}
							{% endif %}


							{% if app.user.myUserPage.relations.ImAdminOf(page.slug) == true %}
							<div class="btn btn-control bg-primary more">
								{# <svg class="olymp-settings-icon">
									<use xlink:href="{{ asset('icons/icons.svg') }}#olymp-settings-icon"></use>
								</svg> #}
								<i class="fa fa-cog fa-2x letter-white"></i>

								<ul class="more-dropdown more-with-triangle triangle-bottom-right settings">
									
									<li>
										<a href="{{ path('page-settings', {'slug' : page.slug, 'subview': 'form-main-info' })}}">
											<i class="fa fa-certificate"></i> {% trans %}General Information{% endtrans %}
										</a>
									</li>
									<li>
										<a href="{{ path('page-settings', {'slug' : page.slug, 'subview': 'form-address-geopos' })}}">
											<i class="fa fa-map-marker"></i> {% trans %}Address and position{% endtrans %}
										</a>
									</li>
									<li>
										<a href="{{ path('page-settings', {'slug' : page.slug, 'subview': 'form-perso-info' })}}">
											<i class="fa fa-info-circle"></i> {% trans %}Contact and network{% endtrans %}
										</a>
									</li>
									<li>
										<a href="{{ path('page-settings', {'slug' : page.slug, 'subview': 'form-preferences' })}}">
											<i class="fa fa-cog"></i> {% trans %}Preferences{% endtrans %}
										</a>
									</li>
									<li>
										<a href="{{ path('page-settings', {'slug' : page.slug, 'subview': 'form-confidentiality' })}}">
											<i class="fa fa-lock"></i> {% trans %}Confidentiality{% endtrans %}
										</a>
									</li>
									<li>
										<a href="{{ path('page-settings', {'slug' : page.slug, 'subview': 'form-change-password' })}}">
											<i class="fa fa-key"></i> {% trans %}Change Password{% endtrans %}
										</a>
									</li>
									{% if page.type == "user" %}
									<li>
										<a href="{{ path('page', {'slug' : page.slug, 'view': 'delete-page' })}}" class="letter-red">
											<i class="fa fa-trash"></i> {% trans %}Delete my account{% endtrans %}
										</a>
									</li>
									{% else %}
									<li>
										<a href="{{ path('page', {'slug' : page.slug, 'view': 'delete-page' })}}" class="letter-red">
											<i class="fa fa-trash"></i> {% trans %}Delete this page{% endtrans %}
										</a>
									</li>
									{% endif %}
								</ul>
							</div>
							{% endif %}

							{% if app.user.myUserPage.relations.ImAdminOf(page.slug) == true %}
							<div class="btn btn-control bg-blue more">
								{# <svg class="olymp-camera-icon" style="padding-top:3px; margin-left:2px; ">
									<use xlink:href="{{ asset('icons/icons.svg') }}#olymp-camera-icon"></use>
								</svg> #}
								<i class="fa fa-camera fa-2x letter-white"></i>

								<ul class="more-dropdown more-with-triangle triangle-bottom-right">
									<li>
										<a href="{{ path('page-upload-image-profil', {'slug' : page.slug }) }}" >
											<i class="fa fa-camera"></i> {% trans %}Update Profile Photo{% endtrans %}
										</a>
									</li>
									<li>
										<a href="{{ path('page-upload-image-banner', {'slug' : page.slug }) }}" >
											<i class="fa fa-camera"></i> {% trans %}Update Banner Photo{% endtrans %}
										</a>
									</li>
								</ul>
							</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		{{ include ('page/sections/' ~ view ~ '.html.twig', { "page" : page, "subview" : subview }) }}
	</div>
</div>

<script>
    $( document ).ready(function() {
		nexxo.initBtnRequest();
		reportObj.initUi();
    });
</script>
{% endblock %}
