{% trans_default_domain 'page' %}

<article class="hentry post has-post-thumbnail thumb-full-width private-event">

	<div class="private-event-head inline-items">
		{# <img src="js/sig/leaflet/images/{{page.type}}.png" height="60"> #}
		<i class="fa fa-3x fa-{{ page.faIcon }} letter-{{ page.colorType }} padding-15"></i>
		<div class="author-date">
			<a class="h3 event-title" href="{{ path('page', {'slug': page.slug}) }}">{{ page.name }}</a><br>
			<span>
				<i class="fa fa-map-marker"></i> 
				{% if page.city %}{{ page.city }}{% else %}{% trans %}unspecified address{% endtrans %}{% endif %}
			</span>
		</div>
		<div class="more">
			{# <svg class="olymp-close-icon" data-dismiss="modal" aria-label="Close">
				<use xlink:href="icons/icons.svg#olymp-close-icon"></use>
			</svg> #}
			<i class="fa fa-times fa-2x" data-dismiss="modal" aria-label="Close"></i>
		</div>
	</div>

	<div class="post-thumb">
		<a href="{{ path('page', {'slug': page.slug}) }}">
			<img src="{{ asset('uploads/imgBanner/' ~ page.imageBanner) }}" alt="imageBanner">
		</a>
	</div>

	<div class="col col-image-profil">
		<div class="top-header-author">
			<a href="{{ path('page', {'slug': page.slug}) }}" class="author-thumb">
				<img src="{{ asset('uploads/imgProfil/' ~ page.imageProfil) }}" height="124"/>
			</a>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
			<div class="post__author author vcard inline-items">
				<h6 class="event-description-title">{% trans %}Description{% endtrans %}</h6><br>
				<p>
					{% if page.description == "" %}
						{% trans %}No description{% endtrans %}
					{% else %}
						{{ page.descriptionHtml|raw|nl2br }}
					{% endif %}
				</p>
			</div>
		</div>
		<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
			<div class="event-description">
				
				<h6 class="event-description-title margin-bottom-10">
					{{ page.relations.realFriends|length }} 
					{% if page.type == "user" %}
						{% trans %}Friends{% endtrans %}
					{% else %}
						{% trans %}Members{% endtrans %}
					{% endif %}
				</h6>
				
				<ul class="friends-harmonic">
					{% for friend in page.relations.realFriends %}
					<li>
						<a href="{{ path('page', {'slug': friend.slug}) }}">
							<img src="{{ asset('uploads/imgProfil/' ~ friend.imageProfil) }}" height="24" alt="friend">
						</a>
					</li>
					{% endfor %}
				</ul>

				<h6 class="event-description-title margin-bottom-10">
					{{ page.relations.followers|length }} {% trans %}Followers{% endtrans %}
				</h6>
				
				<ul class="friends-harmonic">
					{% for follower in page.relations.followers %}
					<li>
						<a href="{{ path('page', {'slug': follower.slug}) }}">
							<img src="{{ asset('uploads/imgProfil/' ~ follower.imageProfil) }}" height="24" alt="follower">
						</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>

	<div class="post-additional-info inline-items">

		<span class="count-item-like">
		 	<i class="fa fa-thumbs-o-up" style="font-size:16px;"></i> 
		 	{{ page.relations.likers|length }} 
		 	{# {% transchoice page.relations.likers|length %}[0,1] people|[2,Inf[ people{% endtranschoice %} #}
		 </span>

		<ul class="friends-harmonic">
			{% for liker in page.relations.likers %}
			<li>
				<a href="{{ path('page', {'slug': liker.slug}) }}">
					<img src="{{ asset('uploads/imgProfil/' ~ liker.imageProfil) }}" height="28" alt="friend">
				</a>
			</li>
			{% endfor %}
		</ul>

	</div>

</article>