{% trans_default_domain 'page' %}

<div class="col-12 col-sm-6">
	{{ include('page/blocks/dashboard-block-left.html.twig', {  "page" : page, 
											   					"dashboard" : "false",
											   					"allDesc": true }) }}
</div>

<div class="col-12 col-sm-6">
	{{ include('page/blocks/dashboard-block-right.html.twig', {  "page" : page, 
											   					"dashboard" : "false" }) }}
</div>