{% trans_default_domain 'page' %}

<style>
.btn-control > i.fa-angle-right{
	margin-top: 0px;
	margin-left: 3px;
	display: block;
	font-size: 25px;
}
.btn-control > i.fa-angle-down{
	margin-top: 4px;
	display: block;
	font-size: 25px;
}
.birthday-author-name{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
}
.ui-block-title{
	margin-bottom:15px;
}
.birthday-item .author-thumb {
    width: 45px;
    height: 45px;
    margin-right: 0px;
}
</style>
<script src="{{ asset('js/group.js') }}"></script>

<div class="app-group col-12 no-padding">
{% set empty = true %}
{% if page.isConfAuth("SHOW_GROUP", app.user.myUserPage) %}{% set empty = false %}
	{{ include("group/manage-group.html.twig", { "form" : form,
												 "page" : page }) }}
{% endif %}

{% if page.isConfAuth("SHOW_FRIENDS", app.user.myUserPage) %}{% set empty = false %}
	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="ui-block">
			<div class="ui-block-title">
				<div class="h5 title">
					<button class="btn btn-control bg-blue btn-toogle-row" data-row-id="friends">
						<i class="fa fa-angle-down"></i>
					</button> 
					<i class="fa fa-hand-peace-o padding-5"></i> 
					<a class="letter-dark btn-toogle-row" data-row-id="friends" href="javascript:">
						{% if page.type == "user" %}
							{% trans %}My friends{% endtrans %}
						{% else %}
							{% trans %}Our members{% endtrans %}
						{% endif %} 
						<span style="font-family:unset;">({{ page.relations.realFriends|length }})</span>
					</a>
				</div>
			</div>
			<div class="row col no-margin row-toggle community-friends" data-row-id="friends">
				{% if page.relations.realFriends is defined %}
					{% for aPage in page.relations.realFriends %}
						{{ include("page/blocks/page-block-community.html.twig", { "aPage" : aPage, 'type': 'friends', 'page': page }) }}
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>
{% endif %}

{% if page.isConfAuth("SHOW_FOLLOWERS", app.user.myUserPage) %}{% set empty = false %}
	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="ui-block">
			<div class="ui-block-title">
				<div class="h5 title">
					<button class="btn btn-control bg-blue btn-toogle-row" data-row-id="followers">
						<i class="fa fa-angle-right"></i>
					</button> 
					<i class="fa fa-link padding-5"></i> 
					<a class="letter-dark btn-toogle-row" data-row-id="followers" href="javascript:">
						{% trans %}Followers{% endtrans %} ({{ page.relations.followers|length }})
					</a>
				</div>
			</div>
			<div class="row col no-margin row-toggle" data-row-id="followers">
				{% if page.relations.followers is defined %}
					{% for aPage in page.relations.followers %}
						{{ include("page/blocks/page-block-community.html.twig", { "aPage" : aPage }) }}
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>
{% endif %}

{% if page.type == "user" %}
	{% if page.isConfAuth("SHOW_FOLLOWS", app.user.myUserPage) %}{% set empty = false %}
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="ui-block">
				<div class="ui-block-title">
					<div class="h5 title">
						<button class="btn btn-control bg-blue btn-toogle-row" data-row-id="follows">
							<i class="fa fa-angle-right"></i>
						</button> 
						<i class="fa fa-link padding-5"></i> 
						<a class="letter-dark btn-toogle-row" data-row-id="follows" href="javascript:">
							{% trans %}Follows{% endtrans %} ({{ page.relations.follows|length }})
						</a>
					</div>
				</div>
				<div class="row col no-margin row-toggle d-none" data-row-id="follows">
					{% if page.relations.follows is defined %}
						{% for aPage in page.relations.follows %}
							{{ include("page/blocks/page-block-community.html.twig", { "aPage" : aPage }) }}
						{% endfor %}
					{% endif %}
				</div>
			</div>
		</div>
	{% endif %}
{% endif %}

{% if page.type == "user" %}
	{% if page.isConfAuth("SHOW_MEMBEROF", app.user.myUserPage) %}{% set empty = false %}
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="ui-block">
				<div class="ui-block-title">
					<div class="h5 title">
						<button class="btn btn-control bg-blue btn-toogle-row" data-row-id="memberof">
							<i class="fa fa-angle-right"></i>
						</button> 
						<i class="fa fa-link padding-5"></i> 
							<a class="letter-dark btn-toogle-row" data-row-id="memberof" href="javascript:">
								{% trans %}Member of{% endtrans %} ({{ page.relations.isMemberOf|length }})
							</a>
					</div>
				</div>
				<div class="row col no-margin row-toggle d-none" data-row-id="memberof">
					{% if page.relations.isMemberOf is defined %}
						{% for aPage in page.relations.isMemberOf %}
							{{ include("page/blocks/page-block-community.html.twig", { "aPage" : aPage }) }}
						{% endfor %}
					{% endif %}
				</div>
			</div>
		</div>
	{% endif %}
{% endif %}

{% if page.type == "user" %}
	{% if page.isConfAuth("SHOW_ADMINOF", app.user.myUserPage) %}{% set empty = false %}
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="ui-block">
				<div class="ui-block-title">
					<div class="h5 title">
						<button class="btn btn-control bg-blue btn-toogle-row" data-row-id="adminof">
							<i class="fa fa-angle-right"></i>
						</button> 
						<i class="fa fa-link padding-5"></i> 
							<a class="letter-dark btn-toogle-row" data-row-id="adminof" href="javascript:">
								{% trans %}Admin of{% endtrans %} ({{ page.relations.isAdminOf|length }})
							</a>
					</div>
				</div>
				<div class="row col no-margin row-toggle d-none" data-row-id="adminof">
					{% if page.relations.isAdminOf is defined %}
						{% for aPage in page.relations.isAdminOf %}
							{{ include("page/blocks/page-block-community.html.twig", { "aPage" : aPage }) }}
						{% endfor %}
					{% endif %}
				</div>
			</div>
		</div>
	{% endif %}
{% endif %}

{% if page.type != "user" %}
	{% if page.isConfAuth("SHOW_ADMINS", app.user.myUserPage) %}{% set empty = false %}
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="ui-block">
				<div class="ui-block-title">
					<div class="h5 title">
						<button class="btn btn-control bg-blue btn-toogle-row" data-row-id="admins">
							<i class="fa fa-angle-right"></i>
						</button> 
						<i class="fa fa-link padding-5"></i> 
						<a class="letter-dark btn-toogle-row" data-row-id="admins" href="javascript:">
							{% trans %}Admins{% endtrans %} ({{ page.relations.admins|length }})
						</a>
					</div>
				</div>
				<div class="row col no-margin row-toggle d-none" data-row-id="admins">
					{% if page.relations.admins is defined %}
						{% for aPage in page.relations.admins %}
							{{ include("page/blocks/page-block-community.html.twig", { "aPage" : aPage }) }}
						{% endfor %}
					{% endif %}
				</div>
			</div>
		</div>
	{% endif %}
{% endif %}

{% set len = (page.owner.pages|length) - 1 %}

{% if page.type == "user" %}
	{% if page.isConfAuth("SHOW_PAGECREATED", app.user.myUserPage) %}{% set empty = false %}
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="ui-block">
				<div class="ui-block-title">
					<div class="h5 title">
						<button class="btn btn-control bg-blue btn-toogle-row" data-row-id="mypages">
							<i class="fa fa-angle-right"></i>
						</button> 
						<i class="fa fa-newspaper-o padding-5"></i> 
						<a class="letter-dark btn-toogle-row" data-row-id="mypages" href="javascript:">
							{% transchoice len %}[0,1] My page|[2,Inf[ My pages{% endtranschoice %} ({{ len }})
						</a>
					</div>
				</div>
				<div class="row col no-margin row-toggle d-none" data-row-id="mypages">
					{% for aPage in page.owner.pages %}
						{% if aPage.id != page.id %}
							{{ include("page/blocks/page-block-community.html.twig", { "aPage" : aPage }) }}
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
	{% endif %}
{% endif %}


{% if empty == true %}
	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="ui-block">
			<div class="ui-block-title">
				<div class="h5 title">
					<i class="fa fa-ban padding-5"></i> 
					<a class="letter-dark btn-toogle-row" data-row-id="mypages" href="javascript:">
						{% trans %}The privacy settings on this page do not allow you to view the community on this page.{% endtrans %}
					</a>
				</div>
			</div>
			
		</div>
	</div>
{% endif %}

</div>

<script>
    $( document ).ready(function() {
		group.initUi();
		nexxo.initBtnRequest();
    });
</script>