{% trans_default_domain 'page' %}

<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<div class="ui-block">
		<div class="ui-block-title">
			<h5 class="title">
				<i class="fa fa-trash"></i> 
				{% if page.type == "user" %}
					{% trans %}Delete my account{% endtrans %}
				{% else %}
					{% trans %}Delete this page{% endtrans %}
				{% endif %}
			</h5>
		</div>
		<div class="row col no-margin padding-15">
			{% if page.type == "user" %}
				<p>
					{% trans %}Deleting your account will result in automatic and permanent deletion of all the content you have published{% endtrans %}.
					<br>
					{% trans %}Will be deleted: messages, comments, notifications, as well as pages of which you are the only administrator
					{% endtrans %}.
					<br>
					({% trans %}If you are not the only administrator of a page, you will only be removed from the list of administrators, and the page will continue to exist{% endtrans %})
				</p><hr>
			{% else %}
				<p>
					{% trans %}Deleting this page will result in automatic and permanent deletion all contents published by this page, or linked to this page{% endtrans %}.
						<br>
					{% trans %}Will be deleted: messages, comments, notifications, as well as pages of which{% endtrans %}
					<b>{{ page.name }}</b> 
					{% trans %}is the owner{% endtrans %}.
				</p><hr>
			{% endif %}

		</div>
		<div class="row col no-margin row-toggle padding-15">
				<a href="{{ path('page', {'slug' : page.slug })}}" class="btn btn-secondary">
					{% trans %}Cancel{% endtrans %}
				</a> 
				{% if page.type == "user" %}
					<a href="{{ path('remove-page', { 'slug' : page.slug }) }}" class="btn bg-red margin-left-15">
						<i class="fa fa-trash"></i> 
						{% trans %}Delete my account{% endtrans %}
					</a>
				{% else %}
					<a href="{{ path('remove-page', { 'slug' : page.slug }) }}" class="btn bg-red margin-left-15">
						<i class="fa fa-trash"></i> 
						{% trans %}Delete this page{% endtrans %}
					</a>
				{% endif %}
		</div>
	</div>
</div>
