{% trans_default_domain 'news' %}

<style>
	.btn-reco{display:none;}
</style>
<div class="ui-block-title">
	<h6 class="title">
		<i class="fa fa-plus"></i> {% trans %}Share a publication{% endtrans %} ?
	</h6>
	<div class="more">
		{# <svg class="olymp-close-icon" data-dismiss="modal" aria-label="Close">
			<use xlink:href="icons/icons.svg#olymp-close-icon"></use>
		</svg> #}
		<i class="fa fa-times fa-2x" data-dismiss="modal" aria-label="Close"></i>
	</div>
</div>
{% if post.isActive == true %}
	<div class="form-share-post">
		<div class="col-12 margin-top-15">
		<textarea class="form-control" id="txt-share-post" placeholder="{% trans %}Your message...{% endtrans %}"></textarea>
		</div>

		<div class="col-12 margin-top-15">
			{{ include('news/blocks/news-post.html.twig', { "post" : post }) }}
		</div>

		<div class="" id="media-shared-loader"></div>
		<div class="form-group d-none" id="media-shared-container"></div>

		<div class="col-12">
			<div class="form-group d-none" id="map-container-share"></div>
			<div class="container-scoping d-none">
				<div class="col-9 no-padding">
					<input type="range" class="form-control-range" id="formControlRange" value="10">
				</div>
				<div class="h6 title col-3 no-padding">
					<div class="full-width alert alert-secondary no-margin container-around-val">
						<span class="around-me-distance">10 km</span>					
					</div>
				</div>
			</div>
		</div>

		<div class="description-toggle col no-margin">
		    <div class="description-toggle-content">
					                    
				{{ include("news/forms/select-scope.html.twig", { "page":app.user.myUserPage, "dashboard" : true, "share" : true }) }}
				{{ include("news/forms/select-signed.html.twig", { "page":app.user.myUserPage, "dashboard" : true }) }}
		       	
		       	{% if app.user.myUserPage.coordinates[0] != "false" %}					
					<div class="togglebutton text-right no-margin margin-top-10">
		                <label>
		                    <b><i class="fa fa-map-marker"></i> 
		                    <span class="d-none d-sm-inline">{% trans %}Spread around me{% endtrans %}</span></b>
		                    <input type="checkbox" checked="" class="checkbox d-none check-use-aroundme" id="check-use-aroundme">
		                </label>
		            </div>
		        {% endif %}
		        
		        <div class="togglebutton text-right pull-right no-margin btn-check-sharable">
		            <label>
		                <b><i class="fa fa-share"></i> <span class="d-none d-sm-inline">{% trans %}Allow sharing{% endtrans %}</span></b>
		                <input type="checkbox" checked="" class="checkbox d-none" id="news_check_sharable">
		            </label>
		        </div>
		   		<div class="float-left no-margin" id="display-scope-groups">
		   		</div>

		        <input type="hidden" id="signed-id">
				<input type="hidden" id="news_sharedBy_scopeType">
		    </div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default letter-red" id="btn-cancel-share-post"
				 data-dismiss="modal" aria-label="Close">{% trans %}No, cancel{% endtrans %}
		</button>
		<button class="btn btn-blue btn-share-post" 
				 data-post-id="{{ post.id }}" data-share-confirm="true"
				 data-dismiss="modal" aria-label="Close">
				<i class="fa fa-check"></i> 
				{% trans %}Share{% endtrans %}
		</button>
	</div>
{% else %}
<div class="form-share-post">
	<div class="col-12 margin-top-15">
		<h5>
			{% trans %}Sorry, this message has been locked by{% endtrans %}
			{% if post.report.closedByType == "ADMIN" %}
				{% trans %}an administrator{% endtrans %} : 
				<a href="{{ path('page', { 'slug' : post.report.closedByUser.slug }) }}">
					{{ post.report.closedByUser.name }}
				</a>
			{% else %}
			{% trans %}a collective moderation procedure{% endtrans %}
			{% endif %}
		</h5>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-default letter-red" 
			 data-dismiss="modal" aria-label="Close">Ok
	</button>
</div>
{% endif %}