{% trans_default_domain 'theme' %}

{% extends 'theme/base-landing.html.twig' %}

{% block body %}
	<div class="container">
        <div class="row display-flex">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="landing-content">

                    <h1>Mentions légales</h1>

					<p style="text-align:justify">Conformément aux dispositions des articles 6-III et 19 de la Loi n° 2004-575 du 21 juin 2004<br>pour la Confiance dans l'économie numérique, dite L.C.E.N.,<br>nous portons à la connaissance des utilisateurs et visiteurs du site : <a href="http://nexxociety.co" target="_blank">nexxociety.co</a> les informations suivantes :</p>

					<div class="col-12 col-md-8 no-padding"><br>
						<p style="text-align:justify">Statut du propriétaire : <strong>particulier</strong><br />
						Le Propriétaire est : <strong>Alpha Tango</strong><br />
						Adresse électronique du propriétaire : <strong>mr.alpha.tango@protonmail.com</strong><br />
						 <br />
						Le Créateur du site est : <strong>Alpha Tango</strong><br/>
						Le Responsable de la  publication est : <strong>Alpha Tango</strong><br />
						Contacter le responsable de la publication : <strong>mr.alpha.tango@protonmail.com</strong><br />
						Le responsable de la publication est une<strong> personne physique</strong><br />
						<br />
						Le Webmaster est  : <strong>Alpha Tango</strong><br />
						Contacter le Webmaster :  <strong>mr.alpha.tango@protonmail.com</strong><br /><br />
						
						L’hebergeur du site est : <strong><a href="https://www.infomaniak.com">Infomaniak Network SA</a>, Avenue de la Praille, 26 - 1227 Carouge - Suisse</strong><br /><br />
						<p style="text-align:justify"></p>

						<p style="text-align:justify">
								<hr>
								Alpha Tango certifie avoir fournis son identité exacte à son hébergeur, conformément à la loi,<br>comme cela est indiqué sur le site <a href="https://www.service-public.fr/professionnels-entreprises/vosdroits/F31228">service-public.fr</a> :
							
							<blockquote class="padding-left-25 margin-top-15" style="border-left: 4px solid white;">
								"Sur un site non professionnel d'une personne physique (site non commercial ou blog d'un particulier, par exemple), les mentions obligatoires sont les suivantes : nom, prénom, adresse et numéro de téléphone de l'hébergeur.
							
								Dans ce cas, le créateur du site peut :
									<br>
								    - soit indiquer les mentions légales le concernant en plus de celles de l'hébergeur ;<br>
								    - soit garder son anonymat dès lors qu'il a transmis de façon correcte les mentions légales le concernant à l'hébergeur."
							</blockquote>

							<br><br>
							<small>
								Credit for some icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from 
								<a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> 
								is licensed by 
								<a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">
									CC 3.0 BY
								</a> - <a href="https://www.flaticon.com/free-icon/game-ghost_81280#term=ghost&page=1&position=83"  target="_blank">see</a>
							</small>
						</p>
						
					</div>
                </div>
            </div>
        </div>
    </div>


<script>
	$( document ).ready(function() {
		reportObj.initBtnModalHowitwork();
	});
</script>
{% endblock %}