{% extends 'theme/base-landing.html.twig' %}

{% block body %}
	<div class="container">
        <div class="row display-flex">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="landing-content">
                    <h1>Road map</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}