{% extends 'theme/base-landing.html.twig' %}

{% block body %}
<div class="container">
        <div class="row display-flex">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="landing-content">
					<h1>Public chat</h1>
					<ul id="chat-list"></ul>
					<hr>
					<textarea id="form-message" placeholder="Your public message here"></textarea>
					<input type="button" id="form-submit" value="Send message"/>
</div>
</div>
</div>
</div>
{% endblock %}