{% trans_default_domain 'group' %}
<!-- Window-popup Add Friends in Group -->
<div class="modal fade" id="create-friend-group-add-friends">
	<div class="modal-dialog ui-block window-popup create-friend-group create-friend-group-add-friends">

		<div class="ui-block-title">
			<h6 class="title"><i class="fa fa-plus"></i> {% trans %}Add friends to group{% endtrans %}</h6>
			<div class="more" data-dismiss="modal" aria-label="Close">
				{# <svg class="olymp-close-icon" data-dismiss="modal" aria-label="Close">
					<use xlink:href="icons/icons.svg#olymp-close-icon"></use>
				</svg> #}
				<i class="fa fa-times fa-2x"></i>
			</div>
		</div>

		<div class="ui-block-content">
			<form class="form-group label-floating is-select">
				<select class="selectpicker form-control style-2 show-tick no-padding" 
						multiple data-max-options="100" data-live-search="true" size="auto"
						data-placeholder="test">
					{% for friend in friends %}
						<option title="{{ friend.id }}" 
								data-content='<div class="inline-items">
												<div class="author-thumb">
													<img src="{{ asset('uploads/imgProfil/' ~ friend.imageProfil) }}" alt="image" height="45">
												</div>
												<div class="h6 author-title">{{ friend.name }}</div>
											  </div>'>
						</option>
					{% endfor %}
				</select>
			</form>

			<a href="#" class="btn btn-blue btn-lg full-width" id="btn-add-friend-to-group" data-group-id=""
				 data-dismiss="modal" aria-label="Close">
				<i class="fa fa-check"></i> {% trans %}Add this friends{% endtrans %}
			</a>
		</div>

	</div>
</div>
<!-- ... end Window-popup Create Friends Group Add Friends -->
