input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  /*margin: 8.05px 0;*/
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1.9px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #bebebe;
  border-radius: 0px;
  border: 0.1px solid #c8c8c8;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #c8c8c8, 0px 0px 0px #d5d5d5;
  border: 0.1px solid #a0a0a0;
  height: 18px;
  width: 18px;
  border-radius: 18px;
  background: #f0f0f0;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8.15px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #bebebe;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 1.9px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #bebebe;
  border-radius: 0px;
  border: 0.1px solid #c8c8c8;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #c8c8c8, 0px 0px 0px #d5d5d5;
  border: 0.1px solid #a0a0a0;
  height: 18px;
  width: 18px;
  border-radius: 18px;
  background: #f0f0f0;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 1.9px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #bebebe;
  border: 0.1px solid #c8c8c8;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #bebebe;
  border: 0.1px solid #c8c8c8;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #c8c8c8, 0px 0px 0px #d5d5d5;
  border: 0.1px solid #a0a0a0;
  height: 18px;
  width: 18px;
  border-radius: 18px;
  background: #f0f0f0;
  cursor: pointer;
  height: 1.9px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #bebebe;
}
input[type=range]:focus::-ms-fill-upper {
  background: #bebebe;
}
