{% trans_default_domain 'comment' %}

{% if comment.isActive == true or (showForModeration is defined and showForModeration == true) %}
<li data-comment-id="{{ comment.id }}">
	
	{{ include ('comment/report-header.html.twig', { "comment" : comment }) }}
	
	<span class="post__author author vcard inline-items float-left ">
		<img src="{{ asset('/uploads/imgProfil/' ~ comment.signed.imageProfil) }}" height="20">
	</span>
	
	<div class="more float-right margin-right-15">
		{% if app.user.myUserPage.isActive == true %}
			{# <svg class="olymp-three-dots-icon"><use xlink:href="{{ asset('icons/icons.svg') }}#olymp-three-dots-icon"></use></svg> #}
			<i class="fa fa-ellipsis-h"></i>
			<ul class="more-dropdown">
				{% if app.user.myUserPage.relations.imAdminOf(comment.signed.slug)
	   			   or (parentType == "news" and parentObj != null 
				   		and app.user.myUserPage.relations.imAdminOf(parentObj.signed.slug))
				%}
					<li class="no-padding remove-on-received">
						<a href="javascript:" class="btn-delete-comment" data-comment-id="{{ comment.id }}">
							<i class="fa fa-trash"></i> {% trans %}Delete comment{% endtrans %}
						</a>
					</li>
				{% endif %}
				{% if (app.user.isSuperAdmin == true and comment.report != null and comment.report.status != "DISABLED") %}
					<li class="no-padding remove-on-received">
						<a href="javascript:" class="btn-report-vote-admin" 
							data-vote-val="down" data-report-id="{{ comment.report.id }}">
							<i class="fa fa-lock"></i> {% trans %}Lock comment{% endtrans %}
						</a>
					</li>
				{% endif %}
				{% if app.user.myUserPage.relations.imAdminOf(comment.signed.slug) %}
					<li class="no-padding remove-on-received">
						<a href="javascript:" class="btn-edit-comment" data-comment-id="{{ comment.id }}">
							<i class="fa fa-pencil"></i> {% trans %}Edit comment{% endtrans %}
						</a>
					</li>
				{% endif %}
				{# <li class="no-padding">
					<a href="#">Turn Off Notifications</a>
				</li> #}
				{% if parentType != "report" %}
				<li class="no-padding">
					{% if comment.report != null and 
						  comment.report.inAuthors(app.user.myUserPage.slug) == true %}
							<a href="javascript:" class=" letter-red">
								<i class="fa fa-flag"></i> {% trans %}You reported this comment{% endtrans %}
							</a>
					{% else %}
							<a href="javascript:" class="btn-want-send-report letter-red" 
								 data-toggle="modal" data-target="#modal-quickview"
								data-about-type="{{ parentType }}" data-about-id="{{ parentId }}" 
								data-what-type="comment" data-what-id="{{ comment.id }}">
								<i class="fa fa-flag"></i> {% trans %}Report comment{% endtrans %}
							</a>
					{% endif %}
				</li>
				{% endif %}
			</ul>
		{% endif %}
	</div>

	<p class="no-margin {% if comment.report != null and comment.report.status == "VOTE_OPEN" %}bg-red-report{% endif %}"
		{% if comment.report != null and comment.report.status == "VOTE_OPEN" %}
			data-toggle="tooltip" data-placement="top"
			data-original-title="{% trans %}This comment has been reported by{% endtrans %} {{ comment.report.authors|length }} {% trans %}people{% endtrans %}"
		{% endif %}
	>
		<a class="h6 post__author-name fn" href="{{ path('page', { 'slug' : comment.signed.slug }) }}">{{ comment.signed.name }}</a>
		{% if comment.report != null and comment.report.status == "VOTE_OPEN" %}
			<i class="fa fa-exclamation-triangle"></i>
		{% endif %} 
		<span class="comment-text">{{ comment.textHtml|raw|nl2br }}</span>
	</p>

	{% if app.user.myUserPage.relations.imAdminOf(comment.signed.slug)
	   or (app.user.isSuperAdmin == true and comment.report != null and comment.report.status != "DISABLED")
		or (parentType == "news" and parentObj != null 
	   		and app.user.myUserPage.relations.imAdminOf(parentObj.signed.slug)) %}	
		<div class="col-12 no-padding d-none text-left conf-delete-comment">
			<button class="btn bg-green btn-conf-delete-comment margin-5" 
					data-comment-id="{{ comment.id }}" data-parent-id="{{ parentId }}" data-parent-type="{{ parentType }}">
				<i class="fa fa-trash"></i> {% trans %}Delete this comment{% endtrans %}
			</button>
			<button class="btn btn-link letter-red margin-5 btn-cancel-delete-comment" 
					data-comment-id="{{ comment.id }}">
				<i class="fa fa-cross"></i> {% trans %}Cancel{% endtrans %}
			</button>
		</div>
	{% endif %}
	{% if app.user.myUserPage.relations.imAdminOf(comment.signed.slug) %}	
		<div class="form-group is-empty no-margin">
		<textarea class="form-control input-edit-comment d-none"></textarea>
		</div>

		<button class="btn bg-green btn-update-comment d-none" 
				data-comment-id="{{ comment.id }}" data-parent-id="{{ parentId }}" data-parent-type="{{ parentType }}">
			<i class="fa fa-save"></i> {% trans %}save changes{% endtrans %}
		</button>
	{% endif %}

	<div class="padding-left-50 padding-bottom-10">
		<a href="javascript:" class="btn-comment-like inline-items letter-green-light" 
			data-parent-id="{{ parentId }}" data-parent-type="{{ parentType }}" 
			data-comment-id="{{ comment.id }}" data-like-type="likes">
			<i class="fa fa-thumbs-up"></i> 
			<span><b>{{ comment.likes|length }}</b></span>
		</a>

		<span class="separator"> · </span>
		
		<a href="javascript:" class="btn-comment-like inline-items letter-red-light" 
			data-parent-id="{{ parentId }}" data-parent-type="{{ parentType }}" 
			data-comment-id="{{ comment.id }}" data-like-type="dislikes">
			<i class="fa fa-thumbs-down"></i> 
			<span><b>{{ comment.dislikes|length }}</b></span>
		</a>

		{% if app.user.myUserPage.isActive == true %}
			<span class="separator"> · </span>
			<a href="javascript:" class="btn-open-anwsers reply" 
								  data-comment-id="{{ comment.id }}">
				{% trans %}Reply{% endtrans %}
			</a>
		{% endif %}

		{% if comment.report != null and comment.report.status == "VOTE_OPEN" %}
		<span class="separator"> · </span>
			<a href="javascript:" class="btn-show-vote-report-comment letter-red" 
				data-report-id="{{ comment.report.id }}">
				{% trans %}Show vote report{% endtrans %}
			</a>
		{% endif %}
		
		
		<span class="separator"> · </span>
		
		<span class="reply post__date">
			<time class="published" datetime="{{ comment.created|date("d M - H:i") }}">
				<small>{{ comment.created|date_modify('-1 second')|ago }}</small>
			</time>
		</span>
		{% if comment.answers|length > 0 %}
		<br>
		<a  href="javascript:" class="btn-open-anwsers reply margin-left-50 padding-left-25"
			data-comment-id="{{ comment.id }}">
			<i class="fa fa-reply fa-rotate-180"></i> {{ comment.answers|length }} 
			{% transchoice comment.answers|length %}{1} answer|[2,Inf[ answers{% endtranschoice %}
		</a>
		{% endif %}
	</div>

	<div class="container-answers d-none" data-comment-id="{{ comment.id }}">
		<div class="comment-block" data-parent-id="{{ parentId }}" 
			 data-parent-type="{{ parentType }}" data-comment-type="{{ comment.id }}">
			 {# {% if comment.answers is defined and comment.answers is not empty %} #}
				{{ include("comment/comment-block.html.twig", {'commentStream' : comment.answers|reverse,
						                					   'commentForm' : commentForm,
						                					   'parentType' : parentType,
						                					   'parentId' : parentId,
						                					   'showFormBlock' : false }) }}
			{# {% endif %} #}
		</div>

		{% if app.user.myUserPage.isActive == true %}
		<div class="padding-right-15 comment-form form-group padding-top-5">
			<textarea type="text" class="form-control reply-to-comment margin-top-5 bg-white margin-right-15" 
					data-comment-id="{{ comment.id }}" 
					data-parent-id="{{ parentId }}" data-parent-type="{{ parentType }}"
					placeholder="{% trans %}your answer{% endtrans %} ..."></textarea>
		</div>
		{% endif %}
		
	</div>

</li>

{% if comment.report != null and comment.report.status == "VOTE_OPEN" %}
<li class="padding-right-15 report-container d-none" data-report-id="{{ comment.report.id }}">
	{{ include ('report/bar-vote.html.twig', { "report" : comment.report }) }}
</li>
{% endif %}
{% endif %}
