{% trans_default_domain 'comment' %}

{% if comment.report != null %}
	{% if comment.report.status == "DISABLED" %}
		<div class="col-12 no-padding text-left">
			<span class="letter-red">
				<i class="fa fa-lock"></i> 
				{% trans %}Sorry, this comment has been locked by{% endtrans %} 
			</span>
			{% if comment.report.closedByType == "ADMIN" %}
				<span class="letter-red">
					{% trans %}an admin{% endtrans %} :
					<a href="{{ path('page', { 'slug':comment.report.closedByUser.slug }) }}">
						{{ comment.report.closedByUser.name }}
					</a>
				</span>
			{% else %}
				<span class="letter-red">
					{% trans %}collective moderation{% endtrans %}
				</span>
				{{ include ('report/bar-vote-min.html.twig', { "report" : comment.report }) }}
			{% endif %}
			<hr>
		</div>
	{% elseif comment.report.status == "VOTE_OPEN" %}
	<div class="border-red border-1 border-solid margin-bottom-15 border-radius-5 report-header full-width" 
		 data-report-id="{{ comment.report.id }}">
		<button href="javascript:" data-report-id="{{ comment.report.id }}"  style="margin:0 0 -10px 0;"
			class="btn btn-link btn-open-header-details col-12 text-left letter-red no-margin padding-bottom-10 elipsis">
				<i class="fa fa-exclamation-triangle"></i> 
				{% trans %}This comment has been reported by{% endtrans %} {{ comment.report.authors|length }} people
				<span class="d-none d-sm-inline float-right"><u><i class="fa fa-angle-down"></i> voir</u></span>
		</button>
		<div class="report-detail d-none">
			<div class="h5 col-12 text-left">
				<small class="bold">
					<i class="fa fa-angle-down"></i> 
					<i class="fa fa-balance-scale"></i>
					{% trans %}Please, vote to moderate this content{% endtrans %}
				</small> 
			</div>
			{% if comment.report.authors|length > 0 %}
				<div class="report-container" data-report-id="{{ comment.report.id }}">
					{{ include ('report/bar-vote.html.twig', { "report" : comment.report }) }}
				</div>
			{% endif %}
			
		</div>
	</div>
	{% endif %}
{% endif %}