.news-feed-form #map-container,
#map-container-share{
    min-height:300px;
	margin-bottom:0px;
	/*border:3px solid white;*/
}
.news-feed-form .options-message .olymp-camera-icon,
.news-feed-form .options-message .olymp-happy-faces-icon{
	fill: #9395a7;
	margin: 7px 0 0 7px;
}
.news-feed-form .options-message .olymp-happy-faces-icon{
	width: 20px;
	height: 19px;
	margin-left: 15px;
}
.togglebutton label{
	color:#9395a7;
}
.news-feed-form .container-scoping{
	border-bottom: 1px solid #ddd;
	height: 35px;
	border-top: 1px solid #ddd;
}
#formControlRange{
	border-radius: 0px !important;
	border: 0px;
	margin:0px !important;
	padding: 9px 10px 8px 10px;
}
.container-around-val{
	padding: 8px 10px;
	border-radius: 0px !important;
	border: 0px;
}
#news_sharedBy_scopeGroups{
	display: none !important;
}
.news-feed-form{
	overflow: visible;
}
.news-feed-form button.btn-outline-info,
.form-share-post button.btn-outline-info{
	padding: 7px 6px;
	color:grey;
	height:34px;
}

.news-feed-form button.btn-outline-info:hover,
.form-share-post button.btn-outline-info:focus,
.news-feed-form button.btn-outline-info:hover,
.form-share-post button.btn-outline-info:focus{
	background-color: #48b7e9;
	border-color: #48b7e9;
	color:white;
}
.news-feed-form button.btn-outline-info.dropdown-toggle::after,
.form-share-post button.btn-outline-info.dropdown-toggle::after{
	content:none;
}

.news-feed-form #news_text{
	height:90px;
	min-height: 90px;
}
.news-feed-form #news_text.open{
	height:200px;
}

#block-sending-msg .alert, #block-sending-msg .alert-sending{
	display: block;
}

.news-feed-form hr{
	margin: 4px;
	border: 0!important;
	margin-top: 0px;
	width: 100%;
	display: inline-block;
}

.news-feed-form #display-scope-groups{
	margin-top:-10px !important;

}
.news-feed-form .btn-check-sharable{
	margin-top: -20px !important;
}


.news-feed-form .btn-open-tags i.fa-hashtag,
.news-feed-form .btn-open-image i.fa-camera{
    font-size: 12px;
    height: unset;
    width: unset;
    border: none;
    margin: 0px;
    line-height: 1;
    padding: 5px 5px;
}

.news-feed-form .btn-open-image,
.news-feed-form .btn-open-tags {
    position: absolute;
    top: 155px;
    left: 25px;
    z-index: 1;
    width: 25px;
    padding: 2px;
    height: 25px;
    border-radius: 50px;
    margin: 0;
    background-color: #0003;
    border-color: transparent;
    color: #717171;
}

.news-feed-form .btn-open-image {
    top: 95px;
    left: 25px;
}


.comments-list p{
	color: #473f3f;
	background-color: #fff;
	padding: 8px 13px;
	border-radius: 18px;
	font-size: 13px;
	display: table;
	margin-right: 25px;
	max-width:80%;
}
.comments-list li {
    padding: 3px 0px 5px 18px;
    border-bottom: 0px;
    background-color: transparent;
}
.comments-list li .comments-list li {
	padding: 3px 0px 5px 10px;
}
.container-answers{
	margin-left:30px;
}
.comments-list p a {
    padding: 3px 3px 3px 0px;
}

.comments-list .comments-list{
	border-left: 2px solid #e0dddd;
}

.comments-list .reply {
    color: #5f647e;
}

#newsfeed-items-grid .post__author img{
	margin-right: 5px;
}
.comments-list .post__author img{
	margin-top: 5px;
}

.post .post-additional-info .comments-shared{
	margin-top:0px;
}
.comment-block{
	background-color: #f0f0f0;
	border: 1px solid #c9d5da;
	border-top-color: #dddbdb;
}
.comment-block .comment-block{
	background-color: transparent;
	border: 1px solid transparent;
	border-top-color: transparent;
}
.comment-form{
	padding: 15px;
}
.comment-form #comment_text{
	background-color: white;
}
.post__author .media-shared{
	padding: 0px 10px;
}
.post__author .media-shared img{
	width: 100%;
	height: unset;
	border-radius: unset;
	margin-left: 0px;
	margin-right: 0px !important;
}

.post p a,
.media-shared a{
    color: #705b8a;
    /*text-decoration: underline;*/
    /*font-size: 0.9em;*/
}
.post p a:hover,
.media-shared a:hover{
    text-decoration: underline!important;
}
.media-shared p{
	color:grey;
}
.shared-post .friends-harmonic a{
	border:0px solid transparent;
}

.map-container-scope{
	height: 200px;
	margin-bottom: 15px;
	border-radius: 200px;
}
#newsfeed-items-grid .img-news{
	max-width: 100%;
}
.skills-item .skills-item-meter{
	height: 11px;
}
.skills-item-meter-active{
	top: -3px;
}
article.post .skills-item-meter-active{
	top: -4px;
}
.comments-list .skills-item-meter-active{
	top: -3px;
}

#stream-container .btn-filter-tag,
#stream-container .btn-select-tag{
	border-radius: 50px;
	margin-bottom:7px;
	margin-right:3px;	
	padding:4px 8px;
	font-size:13px;
	font-weight: 200;
	background-color: #fff;
	border-color: #48b7e9;
	color: #48b7e9;
}
body.dark-theme #stream-container .btn-filter-tag,
body.dark-theme #stream-container .btn-select-tag{
	background-color: #3a3b45;    
	border-color: #3a3b45;
}
#stream-container .btn-filter-tag.active,
#stream-container .btn-select-tag.active,
#stream-container .btn-filter-tag:hover,
#stream-container .btn-select-tag:hover{
	background-color: #48b7e9;    
	border-color: #48b7e9;
	color:white;
}
body.dark-theme #stream-container .btn-filter-tag.active,
body.dark-theme #stream-container .btn-select-tag.active,
body.dark-theme #stream-container .btn-filter-tag:hover,
body.dark-theme #stream-container .btn-select-tag:hover{
	background-color: #48b7e9;    
	border-color: #48b7e9;
	color:white;
}

#btn-open-search-tools{
	margin: 20px auto;
	padding-top:5px;
}
input#search-tags{
	padding:6px 15px;
	border-radius: 4px 0 0 4px;
}
body.dark-theme input#search-tags{
	padding:6px 15px;
	border:1px solid #505359;
}
#btn-search-by-tag{
	border-radius: 0 4px 4px 0;
	/*margin-top: 1px;*/
}