{% trans_default_domain 'page' %}

<script src="{{ asset('js/pluggins/fullcalendar-3.9.0/lib/moment.min.js') }}"></script>
<link rel="stylesheet" href="{{ asset('css/page/page.css') }}">
<style>
#btn-validate-position{
    display: none!important;
}
</style>

<div class="col-xl-9 order-xl-2 col-lg-9 order-lg-2 col-md-12 order-md-1 col-sm-12 col-xs-12 main-block-form">
    <div class="ui-block">
        <div class="ui-block-title">
            <h4 class="title">
                <i class="fa fa-lock"></i> 
                {% trans %}Address and localisation{% endtrans %}
            </h4>
        </div>

        <div class="ui-block-content">
        <div class="row">
            <div class="col-12 col-md-7">
                <p>
                    <i class="fa fa-angle-right"></i> 
                    {% trans %}By providing your address and location, you benefit from all local communication options, anywhere on Nexxo{% endtrans %}. 
                    {% trans %}You can receive localized messages in your news feed, and perform geographic searches in sections{% endtrans %} 
                    <i>{% trans %}search{% endtrans %}</i> 
                    {% trans %}and{% endtrans %} 
                    <i>{% trans %}agenda{% endtrans %}</i>.
                    <br><br>
                    
                    <i class="fa fa-angle-right"></i> 
                    {% trans %}You can use Nexxo without indicating either your address or your position{% endtrans %}.<br>
                    {% trans %}But the local communication options will be disabled{% endtrans %}.
                    <br><br>
                    <i class="fa fa-angle-right"></i> 
                    {% trans %}Your geographic data is sensitive, configure privacy settings to set their level of protection, as needed{% endtrans %}.
                    <br><br>
                    <i class="fa fa-angle-right"></i> 
                    {% trans %}You are free to position yourself anywhere on the map{% endtrans %}.
                    <br>
                    <i class="fa fa-angle-right"></i> 
                    {% trans %}We advise you not to indicate your exact position, but rather to use public places near you, if possible{% endtrans %}.<br>
                    <br>
                    <i class="fa fa-angle-right"></i> 
                    {% trans %}No localized data can be considered exact on Nexxo{% endtrans %}.
                </p>
            </div>
            <div class="col-12 col-md-5">    
                {{  include("page/blocks/rules-confidentiality.html.twig", { "page" : page  })  }}
            </div>
        </div>
            <hr>

            {% if page is defined %}
                {{ form_start(form, { 'action' : path(action, { slug : page.slug, "subview": "form-address-geopos" }) }) }}
            {% else %}
                {{ form_start(form, { 'action' : path(action) }) }}
            {% endif %}

            {# {% if not page is defined and form.parentPage is defined  %} #}
                <div class="form-group d-none">
                    {% if form.parentPage is defined %}
                        {{ form_label(form.parentPage, null, {'label_attr': {'class': 'control-label'}}) }}
                        {{ form_widget(form.parentPage, {'attr': {'class': ''}}) }}
                        {{ form_help(form.parentPage) }}
                        {{ form_errors(form.parentPage) }}
                    {% endif %}
                </div>
            {# {% endif %} #}


            {# {% if not page is defined %} #}
                <div class="form-group d-none">
                    {% if form.type is defined %}
                        {{ form_label(form.type, null, {'label_attr': {'class': 'control-label'}}) }}
                        {{ form_widget(form.type, {'attr': {'class': ''}}) }}
                        {{ form_help(form.type) }}
                        {{ form_errors(form.type) }}
                    {% endif %}
                </div>
            {# {% endif %} #}


            <div class="form-group label-floating d-none">
                {{ form_label(form.name, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                {{ form_help(form.name) }}
                {{ form_errors(form.name) }}
            </div>
            
            <div class="form-group label-floating d-none">
                {{ form_label(form.description, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                {{ form_help(form.description) }}
                {{ form_errors(form.description) }}
            </div>
            
            <div class="form-group label-floating d-none">
                {{ form_label(form.tagsStr, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.tagsStr, {'attr': {'class': 'form-control'}}) }}
                {{ form_help(form.tagsStr) }}
                {{ form_errors(form.tagsStr) }}
            </div>

            {% if form.startDate is defined %}
            <div class="form-group d-none">
                {{ form_label(form.startDate, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.startDate, {'attr': {'class': 'js-datepicker'}}) }}
                {{ form_help(form.startDate) }}
                {{ form_errors(form.startDate) }}
            </div>
            <div class="form-group d-none">
                {{ form_label(form.endDate, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.endDate, {'attr': {'class': 'js-datepicker'}}) }}
                {{ form_help(form.endDate) }}
                {{ form_errors(form.endDate) }}
            </div>
            {% endif %}
            
            {% set formConf = page.getFormConfidentiality()["geo"] %}

            {% set key = "SHOW_ADDRESS" %}
                <div class="description-toggle margin-top-50" style="">
                    <div class="description-toggle-content">
                        <div class="h6 no-margin"><i class="fa fa-lock"></i> {% trans %}Address confidentiality{% endtrans %}</div>
                        <p class="margin-bottom-5">{{ formConf[key].lbl|trans }}</p>
                        
                        {{  include("page/blocks/block-control-confidentiality.html.twig", 
                            { "confkey": key, "confvalue" : page.confidentiality[key], "page" : page  })  }}

                    </div>
                </div>
            


            <div class="form-group">
                <div class="h6 no-margin"><i class="fa fa-pencil"></i> {% trans %}Enter your address{% endtrans %}<hr></div>
                        
                {{ form_label(form.country, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.country, {'attr': {'class': ''}}) }}
                {{ form_help(form.country) }}
                {{ form_errors(form.country) }}
            </div>

            <div class="form-group label-floating">
                {{ form_label(form.city, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.city, {'attr': {'class': 'form-control'}}) }}
                {{ form_help(form.city) }}
                {{ form_errors(form.city) }}
            </div>

            
            <div class="form-group label-floating">
                {{ form_label(form.streetAddress, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.streetAddress, {'attr': {'class': 'form-control'}}) }}
                {{ form_help(form.streetAddress) }}
                {{ form_errors(form.streetAddress) }}
            </div>

            <div class="description-toggle">
                <div class="description-toggle-content">
                    <div class="h6"><i class="fa fa-globe"></i> {% trans %}Localise this page on the map{% endtrans %}</div>
                    <p>{% trans %}By activating the location function, you allow other members to view your page on the map in the section{% endtrans %} 
                    <i>{% trans %}search{% endtrans %}</i>. 
                    {% trans %}You also enable local communication options{% endtrans %}.</p>
                </div>

                <div class="togglebutton">
                    <label>
                        <input type="checkbox" checked="" class="checkbox" id="check-user-geoloc">
                    </label>
                </div>
            </div>

            <div class="ui-block d-none geoloc-result">
                <div class="ui-block-title">
                    <h6 class="title"><i class="fa fa-angle-down"></i> 
                        {% trans %}Which result is best for the address you are looking for{% endtrans %} ?
                    </h6>
                </div>   
                <ul class="widget w-friend-pages-added notification-list" id="geoloc-result"></ul>
                
            </div>

            <div class="ui-block d-none geoloc-result conf-pos">
            {% set key= "SHOW_GEOPOS" %}
                <div class="description-toggle padding-15 no-margin" style="padding-bottom:0px!important;">
                    <div class="description-toggle-content">
                        <div class="h6 no-margin">
                            <i class="fa fa-lock"></i> 
                            {% trans %}Confidentiality of your position{% endtrans %}
                        </div>

                        <p class="margin-bottom-5">{{ formConf[key].lbl|trans }}</p>
                        
                        {{  include("page/blocks/block-control-confidentiality.html.twig", 
                            { "confkey": key, "confvalue" : page.confidentiality[key], "page" : page  })  }}

                    </div>
                </div>   
            </div>

            <div class="form-group d-none" id="map-container"></div>

            <div class="form-group description-toggle d-none">
                {% if form.isPrivate is defined %}
                    <div class="description-toggle-content">
                        <p>
                        - {% trans %}By default all pages are public{% endtrans %}.<br>
                        - {% trans %}Activate the option to make this page private{% endtrans %}.<br>
                        </p>
                        <br>{% trans %}when a page is private, it does not appear in search results or suggestions. Nobody can access it except the people with whom you shared the link to your page (url){% endtrans %}.
                    </div>

                    <div class="togglebutton" style="vertical-align: top;">
                        <label>
                            <span class="padding-5" id="lbl-isprivate-false">
                                <i class="fa fa-unlock"></i> {% trans %}Public{% endtrans %}
                            </span>
                            <span class="padding-5 letter-green d-none" id="lbl-isprivate-true">
                                <i class="fa fa-lock"></i> {% trans %}Private{% endtrans %}
                            </span>
                            {{ form_widget(form.isPrivate, {'attr': {'class': 'd-none'}}) }}
                        </label>
                    </div>


                    {{ form_help(form.isPrivate) }}
                    {{ form_errors(form.isPrivate) }}
                {% endif %}
            </div>


            <div class="form-group">
            <hr>
            </div>

            
            {{ form_widget(form.latitude, {'attr': {'class': 'form-control', 'value' : page.coordinates[1] }}) }}
            {{ form_widget(form.longitude, {'attr': {'class': 'form-control', 'value' : page.coordinates[0] }}) }}

            <button type="submit" class="btn btn-blue btn-lg full-width">
                <i class="fa fa-save"></i> {% trans %}Save my informations{% endtrans %}
            </button>

            {{ form_end(form) }}
        </div>
    </div>
</div>

<script src="{{ asset('js/sig/sig.js') }}"></script>

<script>
    {% if page is defined %}
        var currentFormType = "{{ page.type }}";
    {% else %}
        var currentFormType = $("#page_type").val();
    {% endif %}

    $( document ).ready(function() {
        pageObj.initFormCreatePage();
        pageObj.initFormConfidentiality();
    });
</script>