{% trans_default_domain 'page' %}

<script src="{{ asset('js/pluggins/fullcalendar-3.9.0/lib/moment.min.js') }}"></script>
<link rel="stylesheet" href="{{ asset('css/page/page.css') }}">
<style>
#btn-validate-position{
    display: none!important;
}
</style>

<div class="col-xl-9 order-xl-2 col-lg-9 order-lg-2 col-md-12 order-md-1 col-sm-12 col-xs-12 main-block-form">
    <div class="ui-block">
        <div class="ui-block-title">
            <h4 class="title">
                <i class="fa fa-certificate"></i> 
                {% trans %}General informations{% endtrans %}
            </h4>
        </div>

        <div class="ui-block-content">

            {% if page is defined %}
                {{ form_start(form, { 'action' : path(action, { slug : page.slug }) }) }}
            {% else %}
                {{ form_start(form, { 'action' : path(action) }) }}
            {% endif %}

            {% if not page is defined or page.type != "user" %}
                {% if form.parentPage is defined  %}
                    <div class="form-group">
                    <h5><i class="fa fa-circle"></i> {% trans %}Owner{% endtrans %}</h5>
                    </div>

                    <div class="form-group">
                        {% if form.parentPage is defined %}
                            {{ form_label(form.parentPage, null, {'label_attr': {'class': 'control-label'}}) }}
                            {{ form_widget(form.parentPage, {'attr': {'class': ''}}) }}
                            {{ form_help(form.parentPage) }}
                            {{ form_errors(form.parentPage) }}
                        {% endif %}
                    </div>
                {% endif %}
            {% endif %}
            
            <div class="form-group {% if page is defined and page.type == "event" %}d-none{% endif %}" >
                {% if form.type is defined %}
                    {{ form_label(form.type, null, {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.type, {'attr': {'class': ''}}) }}
                    {{ form_help(form.type) }}
                    {{ form_errors(form.type) }}
                {% endif %}
            </div>

            <div class="form-group label-floating">
                {{ form_label(form.name, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                {{ form_help(form.name) }}
                {{ form_errors(form.name) }}
            </div>
            
            <div class="form-group label-floating">
                {{ form_label(form.description, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                {{ form_help(form.description) }}
                {{ form_errors(form.description) }}
            </div>

            <div class="form-group label-floating">
                {{ form_label(form.tagsStr, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.tagsStr, {'attr': {'class': 'form-control'}}) }}
                {{ form_help(form.tagsStr) }}
                {{ form_errors(form.tagsStr) }}
            </div>

            <div class="d-none">

                <div class="form-group" id="address-block">
                    <br><br>
                    <h5><i class="fa fa-map-marker"></i> {% trans %}Address{% endtrans %}</h5>
                </div>

                <div class="form-group">
                    {{ form_label(form.country, null, {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.country, {'attr': {'class': ''}}) }}
                    {{ form_help(form.country) }}
                    {{ form_errors(form.country) }}
                </div>

                <div class="form-group label-floating">
                    {{ form_label(form.city, null, {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.city, {'attr': {'class': 'form-control'}}) }}
                    {{ form_help(form.city) }}
                    {{ form_errors(form.city) }}
                </div>

                <div class="form-group label-floating">
                    {{ form_label(form.streetAddress, null, {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.streetAddress, {'attr': {'class': 'form-control'}}) }}
                    {{ form_help(form.streetAddress) }}
                    {{ form_errors(form.streetAddress) }}
                </div>

            </div>
           
            {% if page is defined and page.type == "event" %}
                <div class="form-group">
                    {{ form_label(form.startDate, null, {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.startDate, {'attr': {'class': 'js-datepicker'}}) }}
                    {{ form_help(form.startDate) }}
                    {{ form_errors(form.startDate) }}
                </div>



                <div class="form-group">
                    {{ form_label(form.endDate, null, {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.endDate, {'attr': {'class': 'js-datepicker'}}) }}
                    {{ form_help(form.endDate) }}
                    {{ form_errors(form.endDate) }}
                </div>
            {% endif %}

            {% if (page is not defined) or (page is defined and page.type != "user") %}

                <div class="form-group margin-top-25"><hr>
                <h5><i class="fa fa-lock"></i> {% trans %}Page accessibility{% endtrans %}</h5>
                </div>

                <div class="form-group description-toggle">
                    {% if form.isPrivate is defined %}

                        <div class="description-toggle-content">
                            <p>
                            - {% trans %}By default all pages are public{% endtrans %}.<br>
                            - {% trans %}Activate the option to make this page private{% endtrans %}.<br>
                            </p>
                            <br>{% trans %}When a page is private, it does not appear in search results or suggestions. Nobody can access it except the people with whom you shared the link to your page (url){% endtrans %}.
                        </div>

                        <div class="togglebutton" style="vertical-align: top;">
                            <label>
                                <span class="padding-5" id="lbl-isprivate-false">
                                    <i class="fa fa-unlock"></i> {% trans %}Public{% endtrans %}
                                </span>
                                <span class="padding-5 letter-green d-none" id="lbl-isprivate-true">
                                    <i class="fa fa-lock"></i> {% trans %}Private{% endtrans %}
                                </span>
                                {{ form_widget(form.isPrivate, {'attr': {'class': 'd-none'}}) }}
                            </label>
                        </div>

                        {{ form_help(form.isPrivate) }}
                        {{ form_errors(form.isPrivate) }}
                    {% endif %}
                </div>

            {% else %}
                <div class="d-none">
                    {{ form_widget(form.isPrivate, {'attr': {'class': 'd-none'}}) }}
                </div>
            {% endif %}

            <div class="form-group">
            <hr>
            </div>

            {% if page is defined %}
                {{ form_widget(form.latitude, {'attr': {'class': 'form-control', 'value' : page.coordinates[1] }}) }}
                {{ form_widget(form.longitude, {'attr': {'class': 'form-control', 'value' : page.coordinates[0] }}) }}
            {% endif %}

            <button type="submit" class="btn btn-blue btn-lg full-width">
                {% if page is not defined %}<i class="fa fa-plus"></i> {% trans %}Create my page{% endtrans %}
                {% else %}<i class="fa fa-check"></i> {% trans %}Save this informations{% endtrans %}
                {% endif %}
            </button>

            {{ form_end(form) }}
        </div>
    </div>
</div>

<script src="{{ asset('js/sig/sig.js') }}"></script>

<script>
    {% if page is defined %}
        var currentFormType = "{{ page.type }}";
        var formStartDate = "{{ page.startDateStr }}";
        var formEndDate = "{{ page.endDateStr }}";
    {% else %}
        var currentFormType = $("#page_type").val();
    {% endif %}

    $( document ).ready(function() {
        pageObj.initFormCreatePage();
    });
</script>