{% trans_default_domain 'page' %}

{% extends('theme/base-app.html.twig') %}

{% block body %}

<link rel="stylesheet" href="{{ asset('/js/pluggins/Croppie-2.6.2/croppie.css') }}" />
<script src="{{ asset('/js/pluggins/Croppie-2.6.2/croppie.js') }}"></script>


<div class="header-spacer"></div>

<div class="container">
	<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
		<div class="">
			<div class="ui-block-title">
				<div class="h5 title">
					<i class="fa fa-download"></i> {% trans %}Modify the profil image for your page{% endtrans %} 
					<a href="{{ path('page', { 'slug' : page.slug }) }}">{{ page.name }}</a>
				</div>
			</div>
			<div class="padding-10">
				<img src="{{ asset('img/avatar1.png') }}"  class="float-left margin-right-10" style="border-radius:100px;" height="40"> 
				<img src="{{ asset('img/avatar2.png') }}"  class="float-left margin-right-10" style="border-radius:100px;" height="40"> 
				<img src="{{ asset('img/avatar3.png') }}"  class="float-left margin-right-10" style="border-radius:100px;" height="40"> 
				<img src="{{ asset('img/avatar4.png') }}"  class="float-left margin-right-10" style="border-radius:100px;" height="40"> 
				{% trans %}Don't want to show your face ?{% endtrans %}<br>
	        	<a href="http://makeavatars.net/" target="_blank">
	        		<i class="fa fa-chevron-right"></i> <b>{% trans %}Create and download your avatar for free{% endtrans %}</b>
	        	</a>
			</div>
		</div>


		<div class="d-flex row no-margin">
			<div class="ui-block upload-demo-wrap col col-12 col-sm-6 no-padding" style="width:400px;height:400px;">
	            <div id="upload-demo" class="upload-demo"></div>
	        </div>
	        <div class="ui-block col col-12 col-sm-6 padding-top-25 block-profil-img">
				<span class="btn btn-secondary btn-file full-width">
					<i class="fa fa-download"></i> {% trans %}Select an image{% endtrans %}
					<input type="file" accept="image/*" id="image-uploader">
				</span>
				
				{{ form_start(form) }}
			    {{ form_row(form.imageProfil) }}
					<div id="img-result" class="text-center margin-15 margin-bottom-15"></div>
				    <button class="btn btn-blue full-width margin-top-15  d-none" id="btn-submit-form-img" type="submit">
				    	<i class="fa fa-save"></i> {% trans %}Save{% endtrans %}
				    </button>
				{{ form_end(form) }}
			</div>
			
        </div>

		
	</div>
</div>

<style>
	#upload-demo{
		background-color: #1b1b1b;
		color: #1b1b1b;
	}
	.btn-file {
	    position: relative;
	    overflow: hidden;
	}
	.btn-file input[type=file] {
	    position: absolute;
	    top: 0;
	    right: 0;
	    min-width: 100%;
	    min-height: 100%;
	    font-size: 100px;
	    text-align: right;
	    filter: alpha(opacity=0);
	    opacity: 0;
	    outline: none;
	    background: white;
	    cursor: pointer;
	    display: block;
	}
</style>

<script>

	$( document ).ready(function() {
		demoUpload();
	});

	function demoUpload() {
		var $uploadCrop;

		function readFile(input) {
 			if (input.files && input.files[0]) { console.log('input.files', input);
	            var reader = new FileReader();
	            
	            reader.onload = function (e) {
					$('.upload-demo').addClass('ready');
	            	$uploadCrop.croppie('bind', {
	            		url: e.target.result
	            	}).then(function(){
	            		//console.log('jQuery bind complete');
	            	});
	            	
	            }
	            
	            reader.readAsDataURL(input.files[0]);
	            $("#btn-submit-form-img").removeClass("d-none");
	        }
	        else {
		        swal("Sorry - you're browser doesn't support the FileReader API");
		    }
		}

		$uploadCrop = $('#upload-demo').croppie({
			viewport: {
				width: 200,
				height: 200,
				type: 'circle'
			},
			enableExif: true
		});

		$('#image-uploader').on('change', function () { readFile(this); });
		$('.upload-result').on('click', function (ev) {
			$uploadCrop.croppie('result', {
				type: 'canvas',
				size: 'viewport'
			}).then(function (resp) { 
				//console.log("resp", resp);
				popupResult({
					src: resp
				});
			});
		});
		$(".cr-slider").change(function(){
			$uploadCrop.croppie('result', {
				type: 'canvas',
				size: 'viewport'
			}).then(function (resp) { //console.log("resp", resp);
				popupResult({
					src: resp
				});
			});
		});

		$(".cr-boundary").mouseup(function(){
			$uploadCrop.croppie('result', {
				type: 'canvas',
				size: 'viewport'
			}).then(function (resp) { //console.log("resp", resp);
				popupResult({
					src: resp
				});
			});
		});
	}

	function popupResult(result) { console.log("popupResult", result);
		var html;
		if (result.html) {
			html = result.html;
		}
		if (result.src) {
			
			html = '<img src="' + result.src + '" />';
			$("#img-result").html(html);
			$("#image_profil_imageProfil").val(result.src);

			var resss=$("#image_profil_imageProfil").val();
			//console.log("RESULT TO FORM", resss);
		}
	}

</script>


{% endblock %}