{% trans_default_domain 'page' %}

<div class="col-xl-9 order-xl-2 col-lg-9 order-lg-2 col-md-12 order-md-1 col-sm-12 col-xs-12" id="form-contacts">
    <div class="ui-block">
        <div class="ui-block-title">
            <h3 class="title">
                <i class="fa fa-info-circle"></i> 
                {% trans %}Contacts{% endtrans %}
            </h3>
        </div>

        <div class="ui-block-content">

            {{  include("page/blocks/rules-confidentiality.html.twig", { "page" : page  })  }}
            <hr>

            {{ form_start(form, { 'action' : path(action, { "slug" : page.slug, "subview": "form-perso-info" }) }) }}
            

            {% set formConf = page.getFormConfidentiality()["informations"] %}

            <div class="form-group label-floating margin-top-25">
                <h4 class="float-left no-margin"><i class="fa fa-envelope"></i> E-mail</h4><br>
            </div>
            <div class="form-group label-floating margin-top-10">
                {{ form_label(form.email, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                {{ form_help(form.email) }}
                {{ form_errors(form.email) }}
            </div>
            {% set key = "SHOW_INFO_EMAIL" %}
                <div class="description-toggle margin-bottom-50" style="">
                    <div class="description-toggle-content">
                        <p class="margin-bottom-5">{{ formConf[key].lbl|trans }}</p>
                        
                        {{  include("page/blocks/block-control-confidentiality.html.twig", 
                            { "confkey": key, "confvalue" : page.confidentiality[key], "page" : page  })  }}
                    </div>
                </div>



            <div class="form-group label-floating margin-top-50">
                <h4 class="float-left no-margin"><i class="fa fa-desktop"></i> {% trans %}Web site{% endtrans %}</h4><br>
            </div>
            <div class="form-group label-floating margin-top-10">
                {{ form_label(form.website, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.website, {'attr': {'class': 'form-control'}}) }}
                {{ form_help(form.website) }}
                {{ form_errors(form.website) }}
            </div>

            {% set key = "SHOW_INFO_WEBSITE" %}
                <div class="description-toggle margin-bottom-50" style="">
                    <div class="description-toggle-content">
                        <p class="margin-bottom-5">{{ formConf[key].lbl|trans }}</p>
                        
                        {{  include("page/blocks/block-control-confidentiality.html.twig", 
                            { "confkey": key, "confvalue" : page.confidentiality[key], "page" : page  })  }}
                    </div>
                </div>

            <div class="form-group">
                <hr>
                <h3>
                    <i class="fa fa-connectdevelop"></i> 
                    {% trans %}Social Networks{% endtrans %}
                </h3>
                <hr>
            </div>

            
            <div class="form-group label-floating margin-top-25">
                <h4 class="float-left no-margin">
                    <img src="{{ asset('img/communecter-logo.png') }}" class="padding-bottom-10" height="40">  Communecter
                </h4><br>
            </div>
            <div class="form-group label-floating margin-top-10">    
                {{ form_label(form.communecter, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.communecter, {'attr': {'class': 'form-control'}}) }}
                {{ form_help(form.communecter) }}
                {{ form_errors(form.communecter) }}
            </div>
            {% set key = "SHOW_INFO_COMMUNECTER" %}
                <div class="description-toggle margin-bottom-50" style="">
                    <div class="description-toggle-content">
                        <p class="margin-bottom-5">{{ formConf[key].lbl|trans }}</p>
                        
                        {{  include("page/blocks/block-control-confidentiality.html.twig", 
                            { "confkey": key, "confvalue" : page.confidentiality[key], "page" : page  })  }}
                    </div>
                </div>

            
            <div class="form-group label-floating margin-top-25">
                <h4 class="float-left no-margin"><i class="fa fa-facebook"></i> Facebook</h4><br>
            </div>
            <div class="form-group label-floating margin-top-10">    
                {{ form_label(form.facebook, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.facebook, {'attr': {'class': 'form-control'}}) }}
                {{ form_help(form.facebook) }}
                {{ form_errors(form.facebook) }}
            </div>
            {% set key = "SHOW_INFO_FACEBOOK" %}
                <div class="description-toggle margin-bottom-50" style="">
                    <div class="description-toggle-content">
                        <p class="margin-bottom-5">{{ formConf[key].lbl|trans }}</p>
                        
                        {{  include("page/blocks/block-control-confidentiality.html.twig", 
                            { "confkey": key, "confvalue" : page.confidentiality[key], "page" : page  })  }}
                    </div>
                </div>

            <div class="form-group label-floating margin-top-50">
                <h4 class="float-left no-margin"><i class="fa fa-twitter"></i> Twitter</h4><br>
            </div>
            <div class="form-group label-floating margin-top-10">  
                {{ form_label(form.twitter, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.twitter, {'attr': {'class': 'form-control'}}) }}
                {{ form_help(form.twitter) }}
                {{ form_errors(form.twitter) }}
            </div>

            {% set key = "SHOW_INFO_TWITTER" %}
                <div class="description-toggle margin-bottom-50" style="">
                    <div class="description-toggle-content">
                        <p class="margin-bottom-5">{{ formConf[key].lbl|trans }}</p>
                        
                        {{  include("page/blocks/block-control-confidentiality.html.twig", 
                            { "confkey": key, "confvalue" : page.confidentiality[key], "page" : page  })  }}
                    </div>
                </div>

            
            <div class="form-group label-floating margin-top-50">
                <h4 class="float-left no-margin"><i class="fa fa-youtube"></i> Youtube</h4><br>
            </div>
            <div class="form-group label-floating margin-top-10">  
                {{ form_label(form.youtube, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.youtube, {'attr': {'class': 'form-control'}}) }}
                {{ form_help(form.youtube) }}
                {{ form_errors(form.youtube) }}
            </div>

            {% set key = "SHOW_INFO_YOUTUBE" %}
                <div class="description-toggle margin-bottom-50" style="">
                    <div class="description-toggle-content">
                        <p class="margin-bottom-5">{{ formConf[key].lbl|trans }}</p>
                        
                        {{  include("page/blocks/block-control-confidentiality.html.twig", 
                            { "confkey": key, "confvalue" : page.confidentiality[key], "page" : page  })  }}
                    </div>
                </div>


            
            <div class="form-group label-floating margin-top-50">
                <h4 class="float-left no-margin">
                    <img src="{{ asset('img/discord-new-logo.png') }}" class="padding-bottom-10" height="40"> Discord
                </h4><br>
            </div>
            <div class="form-group label-floating">  
                {{ form_label(form.discord, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.discord, {'attr': {'class': 'form-control'}}) }}
                {{ form_help(form.discord) }}
                {{ form_errors(form.discord) }}
            </div>

            {% set key = "SHOW_INFO_DISCORD" %}
                <div class="description-toggle margin-bottom-50" style="">
                    <div class="description-toggle-content">
                        <p class="margin-bottom-5">{{ formConf[key].lbl|trans }}</p>
                        
                        {{  include("page/blocks/block-control-confidentiality.html.twig", 
                            { "confkey": key, "confvalue" : page.confidentiality[key], "page" : page  })  }}
                    </div>
                </div>

            <button type="submit" class="btn btn-blue btn-lg full-width">
                <i class="fa fa-save"></i> {% trans %}Save{% endtrans %}
            </button>

            {{ form_end(form) }}
        </div>

    </div>
</div>

<script>
    $( document ).ready(function() {
        pageObj.initFormConfidentiality();
    });
</script>