{% trans_default_domain 'agenda' %}

<div class="today-events-thumb">
	{% if allEvents|length == 1 and allEvents[0].imageBanner != "default.png" %}
		<img src="{{ asset('uploads/imgBanner/' ~ allEvents[0].imageBanner) }}" id="">
	{% endif %}
	<div class="date border-radius-10 padding-10 font-konkretika" 
		 style="background-color:rgba(0,0,0,0.2);">
		<div class="day-week">{{ allEvents[0].startDate|localizeddate('none', 'none', app.request.locale, null, "cccc") }}</div>
		<div class="day-number">{{ allEvents[0].startDate|localizeddate('none', 'none', app.request.locale, null, "d") }}</div>
		<div class="month-year letter-white">{{ allEvents[0].startDate|localizeddate('none', 'none', app.request.locale, null, "MMMM") }}</div>
	</div>
</div>

{% for event in allEvents %}
<div class='card'>
	<div class="card-header" role="tab" id="headingOne-1">
		<div class="event-time">
		{% if allEvents|length > 1 and event.imageBanner != "default.png" %}
				<img class="full-width margin-bottom-10 border-radius-5" src="{{ asset('uploads/imgBanner/' ~ event.imageBanner) }}" id="">
		{% endif %}
			<time>
				<b> {% trans %}Start{% endtrans %}{# 
				{{ event.startDate|localizeddate('none', 'none', app.request.locale, null, "cccc d MMMM Y") }}<br> #}
				{% trans %}at{% endtrans %} {{ event.startDate|localizeddate('none', 'none', app.request.locale, null, "HH:mm") }}
				</b>
			</time><br>
			{% if event.endDate != "" %}
				<time>
					{% trans %}End{% endtrans %} : 
					{{ event.endDate|localizeddate('none', 'none', app.request.locale, null, "cccc d MMMM Y") }} 
					{% trans %}at{% endtrans %} {{ event.endDate|localizeddate('none', 'none', app.request.locale, null, "HH:mm") }}
				</time>
			{% endif %}
		</div>
		<h5 class="mb-0 title">
			<a href="/page/{{ event.slug }}" target="_blank">
				<i class="fa fa-angle-down" aria-hidden="true"></i> 	
				{{ event.name }}			
			</a>
		</h5>

		{% if event.city != "" %}
			<div class="place inline-items">
				<span>
					<a href="javascript:" 
							 class="btn-open-marker padding-5 padding-left-10 padding-right-10 border-radius-5 margin-top-5"
							 data-id="{{ event.id }}">
						<i class="fa fa-map-marker no-margin"></i> {{ event.city }}
					</a>
				</span>
			</div>
		{% endif %}

		<div class="card-body no-padding margin-top-10">
			<a href="/page/{{ event.slug }}" target="_blank">{{ event.description }}</a>
			<br>
			<button class="btn btn-sm bg-transparent border-breez letter-breez open-quickview margin-top-10 float-right" 
					data-toggle="modal" data-target="#modal-quickview"
					data-type="page" data-id="{{ event.slug }}">
				<i class="fa fa-eye no-margin"></i> {% trans %}Quickview{% endtrans %}
			</button>
		</div>
	</div>
</div>

{% endfor %}