{% trans_default_domain 'page' %}

<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 item" id="{{ aPage.slug }}">
	<div class="ui-block">
		<div class="birthday-item inline-items">
			<div class="author-thumb">
				<a href="{{ path('page', {'slug':aPage.slug })}}" class="">
					<img src="{{ asset('uploads/imgProfil/' ~ aPage.imageProfil) }}" 
						  alt="image" height="45">
				</a>
			</div>
			<div class="birthday-author-name col-8">
				<a href="{{ path('page', {'slug':aPage.slug })}}" class="h6 author-name">
					{{ aPage.name }}
				</a>
				{% if aPage.type == "user" %}
					<div class="birthday-date">
						{{ aPage.relations.realFriends|length }} 
						{% transchoice aPage.relations.realFriends|length %}[0,1] friend|[2,Inf[ friends{% endtranschoice %}
						{% if type is defined and type == "friends" 
						   and app.user.myUserPage.relations.ImAdminOf(page.slug) == true
						   and aPage.relations.ImAdminOf(page.slug) == false
						%}
						 · <a href="javascript:" data-toggle="modal" data-target="#modal-quickview" 
						 	 data-slug-page="{{ aPage.slug }}" data-slug-origin-page="{{ page.slug }}"
								class="btn-send-request-friend" title="Supprimer {{ aPage.name }} de ma liste d'amis">
						 	<i class="fa fa-trash"></i> {% trans %}Delete{% endtrans %}
						   </a>
						 {% endif %}
					</div>
				{% else %}
					<div class="birthday-date">
						{{ aPage.relations.friends|length }} 
						{% transchoice aPage.relations.friends|length %}[0,1] member|[2,Inf[ members{% endtranschoice %} 
						{% if type is defined and type == "friends" 
						   and app.user.myUserPage.relations.ImAdminOf(page.slug) == true
						   and aPage.relations.ImAdminOf(page.slug) == false
						%}
						 · <a href="javascript:" data-toggle="modal" data-target="#modal-quickview" 
						 	data-slug-page="{{ aPage.slug }}" data-slug-origin-page="{{ page.slug }}"
								class="btn-send-request-friend" title="Supprimer {{ aPage.name }} de la liste des membres">
						 	<i class="fa fa-trash"></i> {% trans %}Delete{% endtrans %}
						   </a>
						 {% endif %}
					</div>
				{% endif %}
			</div>
			{# <a href="#" class="btn btn-sm bg-blue">...</a> #}
		</div>
	</div>
</div>