{% trans_default_domain 'page' %}

<div class="ui-block col-12 col-sm-4 col-md-4 no-padding">
    <div class="friend-item">
        <div class="friend-header-thumb">
            <a href="{{ path('page', { 'slug' : page.slug }) }}">
                <img src="{{ asset('uploads/imgBanner/min/' ~ page.imageBanner) }}" alt="img">
            </a>
        </div>
    
        <div class="friend-item-content">
            <div class="friend-avatar">
                <div class="author-thumb">
                    <a href="{{ path('page', { 'slug' : page.slug }) }}">
                        <img src="{{ asset('uploads/imgProfil/' ~ page.imageProfil) }}" alt="img" height="92">
                        <i class="fa fa-type-page fa-{{ page.faIcon }} letter-{{ page.colorType }} border-b-{{ page.colorType }} border-b-2"></i>
                    </a>
                </div>
                <div class="author-content">
                    <a href="{{ path('page', {'slug': page.slug}) }}" class="h5 author-name elipsis no-margin">
                        {{ page.name }}
                    </a><br>
                    <div class="country elipsis no-margin">
                        {% if page.country != "" %}<i class="fa fa-map-marker"></i>{% else %}<br>{% endif %}
                        {% if page.city != "" %}{{ page.city }}{% endif %}
                        {% if page.streetAddress != "" and page.streetAddress != "" %}, {{ page.streetAddress }}{% endif %}
                        {% if page.country != "" and page.country != "" %}, {{ page.country }}{% endif %}
                    </div>
                </div>
            </div>
    
                <div class="col-12 no-padding margin-bottom-5">
                    <i class="fa fa-clock-o"></i> 
                    {% trans %}Vote end{% endtrans %} {{ page.report.dateEndVote|ago }} - 
                    {{ page.report.dateEndVote|localizeddate('none', 'none', app.request.locale, null, "cccc d MMMM Y HH:mm") }}
                </div>
                <div class="report-container col-12 no-padding" data-report-id="{{ page.report.id }}">
                    {{ include("report/bar-vote-min.html.twig", {"report":page.report}) }}
                </div>
                
        </div>
    </div>
</div>