{% trans_default_domain 'page' %}

<h6>
    <i class="fa fa-angle-down"></i> <i class="fa fa-lock"></i> 
    {% trans %}Privacy settings{% endtrans %}
</h6>   
<ul>
	{% if page.type == "user" %}
		<li>
			<i class="fa fa-minus"></i> <b>{% trans %}Nobody{% endtrans %}</b> : {% trans %}Totally private{% endtrans %}
		</li>
	{% endif %}
	{% if page.type != "user" %}
		<li>
			<i class="fa fa-user-secret"></i> <b>{% trans %}Admins{% endtrans %}</b> : 
			{% trans %}Access for administrators of the page{% endtrans %}
		</li>
	{% endif %}
	{% if page.type == "user" %}
		<li>
			<i class="fa fa-hand-peace-o"></i> <b>{% trans %}Friends{% endtrans %}</b> : 
			{% trans %}Access for your friends only{% endtrans %}
		</li>
	{% else %}
		<li>
			<i class="fa fa-hand-peace-o"></i> <b>{% trans %}Members{% endtrans %}</b> : 
			{% trans %}Access for your members only{% endtrans %}
		</li>
	{% endif %}
		<li>
			<i class="fa fa-link"></i> <b>{% trans %}Followers{% endtrans %}</b> : 
			{% trans %}Access for your followers only{% endtrans %}
		</li>

	<li>
		<i class="fa fa-group"></i> <b>{% trans %}Nexxo{% endtrans %}</b> : 
		{% trans %}Access only for members activated of Nexxo{% endtrans %}
	</li>
	{# <li>
		<i class="fa fa-globe"></i> <b>{% trans %}All{% endtrans %}</b> : 
		{% trans %}Access for everyone, even not activated account{% endtrans %}
	</li> #}
</ul>
* {% trans %}Rights granted to{% endtrans %} <b>{% trans %}My followers{% endtrans %}</b> 
{% trans %}are automatically also applied to{% endtrans %} <b>{% trans %}My friends{% endtrans %}</b>.