{% trans_default_domain 'group' %}
<style>
.friend-item .btn-control{
	line-height: 50px;
}
</style>
<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-6" id="block-group-{{ group.id }}">
	<div class="ui-block" data-mh="friend-groups-item">
		<div class="friend-item friend-groups">

			<div class="friend-item-content">

				<div class="more">
					{# <svg class="olymp-three-dots-icon float-right">
						<use xlink:href="/icons/icons.svg#olymp-three-dots-icon"></use>
					</svg> #}
					<i class="fa fa-ellipsis-h float-right"></i>
					<ul class="more-dropdown">
						<li>
							<a href="javascript:" class="btn-modal-delete-group" 
								data-group-id="{{ group.id }}" data-group-name="{{ group.name }}"
								data-toggle="modal" data-target="#modal-remove-group">
								<i class="fa fa-trash"></i> {% trans %}Delete this group{% endtrans %}
							</a>
						</li>
					</ul>
				</div>
				<div class="friend-avatar">
					<div class="author-content">
						<a href="{{ path('group', { 'id': group.id }) }}" class="h5 author-name">{{ group.name }}</a>
						<div class="country">{{ group.members|length }} {% trans %}friends in the group{% endtrans %}</div>
					</div>
				</div>

				<ul class="friends-harmonic">
					{% if group.members|length > 0 %}
						{% set i = 0 %}
						{% for friend in group.members %}{% set i = i+1 %}
							{% if i < 8 %}
							<li>
								<a href="{{ path('page', { slug: friend.slug }) }}">
									<img src="{{ asset('uploads/imgProfil/' ~ friend.imageProfil) }}" alt="image" height="25">
								</a>
							</li>
							{% endif %}
						{% endfor %}
					{% else %}
						{# <li>
								{% trans %}This group is empty{% endtrans %}
						</li> #}
					{% endif %}

				</ul>

				<div class="control-block-button">
					<a href="#" class="btn btn-control bg-blue btn-modal-add-friend-to-group" 
						data-toggle="modal" data-target="#create-friend-group-add-friends"
						 data-group-id="{{ group.id }}">
						{# <svg class="olymp-plus-icon"><use xlink:href="/icons/icons.svg#olymp-plus-icon"></use></svg> #}
						<i class="fa fa-plus fa-2x"></i>
					</a>

					<a href="#" class="btn btn-control btn-grey-lighter btn-modal-delete-friend-group" data-id="{{ group.id }}"
						data-toggle="modal" data-target="#show-friend-group-{{group.id}}">
						{# <svg class="olymp-happy-faces-icon"><use xlink:href="/icons/icons.svg#olymp-happy-faces-icon"></use></svg> #}
						<i class="fa fa-trash fa-2x"></i>
					</a>

				</div>
			</div>
		</div>
	</div>
</div>

<!-- Window-popup Add Friends in Group -->
<div class="modal fade" id="show-friend-group-{{group.id}}">
	<div class="modal-dialog ui-block window-popup create-friend-group create-friend-group-add-friends">

		<div class="ui-block-title">
			<h6 class="title">
				{# <svg class="olymp-happy-faces-icon" style="fill: white;height: 20px;">
					<use xlink:href="/icons/icons.svg#olymp-happy-faces-icon"></use>
				</svg>  #}
				<i class="fa fa-group fa-2x"></i>
				{{ group.name }}
			</h6>
			<div class="more">
				{# <svg class="olymp-close-icon" data-dismiss="modal" aria-label="Close">
					<use xlink:href="icons/icons.svg#olymp-close-icon"></use>
				</svg> #}
				<i class="fa fa-times fa-2x" data-dismiss="modal" aria-label="Close"></i>
			</div>
		</div>

		<div class="ui-block-content">
			<form class="form-group label-floating is-select">
				<select class="selectpicker form-control style-2 show-tick no-padding" 
						multiple data-max-options="100" data-live-search="true" size="auto"
						data-placeholder="test">
					{% for friend in group.members %}
						<option title="{{ friend.id }}" 
								data-content='<div class="inline-items">
												<div class="author-thumb">
													<img src="{{ asset('uploads/imgProfil/' ~ friend.imageProfil) }}" alt="image" height="45">
												</div>
												<div class="h6 author-title">{{ friend.name }}</div>
											  </div>'>
						</option>
					{% endfor %}
				</select>
			</form>

			<a href="#" class="btn btn-purple btn-lg full-width padding-10" id="btn-conf-delete-friend-group"
				 data-dismiss="modal" aria-label="Close" data-group-id="">
				<i class="fa fa-trash"></i> 
				{% trans %}Remove friends selected{% endtrans %}<br>
				{% trans %}from this group{% endtrans %}
			</a>
			<a href="#" class="btn btn-default btn-lg full-width"
				 data-dismiss="modal" aria-label="Close">
				<i class="fa fa-times"></i> {% trans %}Cancel{% endtrans %}
			</a>
		</div>

	</div>
</div>
<!-- ... end Window-popup Create Friends Group Add Friends -->
