{% trans_default_domain 'superadmin' %}

<div class="padding-5 col-12 col-md-6 ">
	<div class="no-padding border-1 border-solid border-red border-radius-5">
		<article class="hentry post video">

			{% if post.report != null %}
			<div class="margin-bottom-15">
				<span class="col-12 text-left letter-red margin-bottom-5">
						<i class="fa fa-exclamation-triangle"></i> 
						{{ post.report.authors|length }} report(s)
				</span>
				{% if post.report.authors|length > 0 %}
					<div class="report-container" data-report-id="{{ post.report.id }}">
						{{ include ('report/bar-vote-admin.html.twig', { "report" : post.report }) }}
					</div>
				{% endif %}
			</div>

				<div class="col-12 no-padding margin-bottom-5">
					<i class="fa fa-clock-o"></i> 
					{% trans %}Fin du vote{% endtrans %} {{ post.report.dateEndVote|ago }} - 
					{{ post.report.dateEndVote|localizeddate('none', 'none', app.request.locale, null, "cccc d MMMM Y HH:mm") }}
					{{ post.report.id }}
				</div>
			{% endif %}	
			
			<div class="post__author author vcard inline-items">
				<img src="{{ asset('uploads/imgProfil/' ~ post.signed.imageProfil) }}" alt="author">

				<div class="author-date">
					<a class="h6 post__author-name fn" href="{{ path('page', {'slug' : post.signed.slug })}}">
						{{ post.signed.name }}
					</a> 
					{% if post.newsShared is not defined or post.newsShared == null %}
						published a
						<a href="{{ path('news-single-post', { "id" : post.id }) }}">message</a> 
					{% else %}
						<a href="{{ path('news-single-post', { "id" : post.id }) }}">shared</a> a 
						<a href="{{ path('news-single-post', { "id" : post.newsShared.id }) }}">message</a>
					{% endif %}

					{% if post.scopeType == "groups" %}for some <b>groups</b>{% endif %}
					{% if post.scopeType == "localised" %} 
						<i class="fa fa-map-marker margin-left-5"></i><b> {{ post.radiusKm }} km</b> around him
					{% endif %}

					<div class="post__date">

						<time class="published" datetime="{{ post.created|date() }}">
							<i class="fa fa-clock-o"></i>
							{{ post.created|ago }}
							<span class="separator"> · </span>
							{{ post.created|localizeddate('short', 'none', app.request.locale) }}
						</time>

						<span class="separator"> · </span>
					
						<small>
							{% if post.scopeType == "followers" %}<i class="fa fa-link"></i>{% endif %}
							{% if post.scopeType == "friends" %}<i class="fa fa-group"></i>{% endif %}
							{% if post.scopeType == "groups" %}<i class="fa fa-circle"></i>{% endif %}
							{% if post.scopeType == "localised" %}<i class="fa fa-globe"></i>{% endif %}
						</small>
						
						{% if post.scopeType == "groups" %}
							<br>
							{% for group in post.scopeGroups %}
								<span data-toggle="tooltips" data-original-title=""><b><i class="fa fa-group"></i> {{ group.name }}</b></span>
							{% endfor %}
						{% endif %}
					</div>			
				</div>


			</div>

			<p>{{ post.textHtml("letter-tag")|raw|nl2br }}</p>

			{% if post.medias is defined %}
				<div class="row padding-5">
				{% if post.medias|length > 1 %}
					{% for media in post.medias %}
						{{ include("news/blocks/media-shared-multi.html.twig", { 'media' : media }) }}
					{% endfor %}
				{% else %}
					{% for media in post.medias %}
						{{ include("news/blocks/media-shared.html.twig", { 'media' : media }) }}
					{% endfor %}
				{% endif %}
				</div>
			{% endif %}

			{% if post.newsShared is defined and post.newsShared is not null %}
				<div class="post__author author vcard inline-items shared-post padding-15 border-light border-1 border-solid">
					<img src="{{ asset('uploads/imgProfil/' ~ post.newsShared.signed.imageProfil) }}" height="20">

					<div class="author-date">
						<a class="h6 post__author-name fn" href="{{ path('page', {'slug' : post.author.slug })}}">
							{{ post.newsShared.signed.name }}
						</a> 
						<div class="post__date">
							<time class="published" datetime="2004-07-24T18:18">
								{{ post.newsShared.created|date("l") }} 
								{{ post.newsShared.created|date("d") }} 
								{{ post.newsShared.created|date("M") }} 
								{{ post.newsShared.created|date("H:i:s") }}
							</time>
						</div>
					</div>
					<br>				
					<p>{{ post.newsShared.textHtml("letter-tag")|raw|nl2br }}</p>

					{% if post.newsShared.medias is defined %}
						<div class="row padding-5">
						{% if post.newsShared.medias|length > 1 %}
							{% for media in post.newsShared.medias %}
								{{ include("news/blocks/media-shared-multi.html.twig", { 'media' : media }) }}
							{% endfor %}
						{% else %}
							{% for media in post.newsShared.medias %}
								{{ include("news/blocks/media-shared.html.twig", { 'media' : media }) }}
							{% endfor %}
						{% endif %}
						</div>
					{% endif %}
					
					{% if post.sharedByMyRelations|length > 0 %}
						<br><hr class="full-width">
						<ul class="friends-harmonic">
							{% set iMax = 2 %}
							{% set i = 0 %}
							{% for sharedBy in post.sharedByMyRelations %}{% set i = i+1 %}
								{% if i <= iMax %}
								<li>
									<a href="{{ path('page', {'slug' : sharedBy.signed.slug })}}">
										<img src="{{ asset('uploads/imgProfil/' ~ sharedBy.signed.imageProfil) }}" height="28" alt="shared by">
									</a>
								</li>
								{% endif %}
							{% endfor %}
						</ul>

						<div class="names-people-likes">
							{% set i = 0 %}
							{% for sharedBy in post.sharedByMyRelations %}{% set i = i+1 %}
								{% if i <= iMax %}
								<a href="{{ path('page', {'slug' : sharedBy.signed.slug })}}" class="h6 post__author-name">
									{{ sharedBy.signed.name }}
								</a>, 
								{% endif %}
							{% endfor %} 

							{% if ((post.sharedByMyRelations|length) - iMax) == 1 %}
								and {{ (post.sharedByMyRelations|length) - iMax }} other 
							{% elseif ((post.sharedByMyRelations|length) - iMax) > 1 %}
								and {{ (post.sharedByMyRelations|length) - iMax }} others 
							{% endif %}

							also <b>shared</b> this <a href="{{ path('news-single-post', { "id" : post.newsShared.id }) }}">message</a> 
							{# <br>18 more liked this #}
						</div>
					{% endif %}
				</div>
			{% endif %}

			<style>
			.post-add-icon, .post-add-icon{
				opacity: 0.7;
			}
			</style>
			<div class="post-additional-info inline-items">

				<a href="javascript:" class="btn-post-like inline-items letter-green" 
					data-post-id="{{ post.id }}" data-like-type="likes">
					<i class="fa fa-thumbs-up"></i> 
					<span><b>{{ post.likes|length }}</b></span>
				</a>

				<a href="javascript:" class="btn-post-like inline-items letter-red" 
					data-post-id="{{ post.id }}" data-like-type="dislikes">
					<i class="fa fa-thumbs-down"></i> 
					<span><b>{{ post.dislikes|length }}</b></span>
				</a>

				{# change for comments #}
				{% if post.sharedBy|length > 1 and false %}
					<ul class="friends-harmonic">
						{% for sharedBy in post.sharedBy %}
						<li>
							<a href="#">
								<img src="{{ asset('uploads/imgProfil/' ~ sharedBy.signed.imageProfil) }}" height="28" alt="shared by">
							</a>
						</li>
						{% endfor %}
					</ul>

					<div class="names-people-likes">
						<a href="#">Jenny</a>, <a href="#">Robert</a> and
						<br>18 more liked this
					</div>
				{% endif %}


				<div class="comments-shared">
					<a href="javascript:" class="post-add-icon inline-items btn-open-comments"
						data-parent-id="{% if post.newsShared is not null %}{{ post.newsShared.id }}{% else %}{{ post.id }}{% endif %}" 
						data-parent-type="news">
						{# <svg class="olymp-speech-balloon-icon">
							<use xlink:href="{{ asset('icons/icons.svg') }}#olymp-speech-balloon-icon"></use>
						</svg> #}
						<i class="fa fa-comment letter-blue"></i> 
						{% if post.newsShared is not null %}
							<span class="letter-blue bold">{{ post.newsShared.commentStream.comments|length }}</span>
						{% else %}
							<span class="letter-blue bold">{{ post.commentStream.comments|length }}</span>
						{% endif %}
					</a>

					{% if post.isSharable is defined and post.isSharable == true and post.signed != app.user.myUserPage %}
					<a href="javascript:" class="post-add-icon inline-items btn-share-post" data-post-id="{{ post.id }}">
						{# <svg class="olymp-share-icon"><use xlink:href="{{ asset('icons/icons.svg') }}#olymp-share-icon"></use></svg> #}
						<i class="fa fa-exchange letter-blue"></i> 
						{% if post.newsShared is defined and post.newsShared is not null %}
							<span class="letter-blue bold">{{ post.newsShared.sharedBy|length }}</span>
						{% else %}
							<span class="letter-blue bold">0</span>
						{% endif %}
					</a>
					{% endif %}
				</div>
			</div>
		</article>
	</div>
</div>
