{% trans_default_domain 'superadmin' %}

<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
	<div class="no-padding border-1 border-solid border-red border-radius-5">
		<div class="ui-block no-margin">
			<div class="col-12 inline-items padding-top-15">
				<div class="author-thumb">
					<img src="{{ asset('uploads/imgProfil/' ~ page.imageProfil) }}" alt="image" height="45">
				</div>
				<div class="birthday-author-name col-8">
					<span class="letter-red">
						<i class="fa fa-exclamation-triangle"></i> 
						{{ page.report.authors|length }} {% trans %}reports(s){% endtrans %}
					</span><br>
					<a href="{{ path('page', {'slug':page.slug })}}" class="h6 author-name">{{ page.name }}</a>
					{% if page.type == "user" %}
						<div class="birthday-date">
							{{ page.relations.realFriends|length }} {% trans %}friend(s){% endtrans %}
							<span class="separator"> · </span>
							{{ page.relations.followers|length }} {% trans %}follower(s){% endtrans %}
						</div>
					{% else %}
						<div class="birthday-date">
							{{ page.relations.friends|length }} {% trans %}member(s){% endtrans %}
							<span class="separator"> · </span>
							{{ page.relations.followers|length }} {% trans %}follower(s){% endtrans %}
						</div>
					{% endif %}
				</div>

				<div class="report-container col-12 no-padding" data-report-id="{{ page.report.id }}">
					{{ include("report/bar-vote-admin.html.twig", {"report":page.report}) }}
				</div>
				<div class="col-12 no-padding margin-bottom-5">
					<i class="fa fa-clock-o"></i> 
					{% trans %}Fin du vote{% endtrans %} {{ page.report.dateEndVote|ago }} - 
					{{ page.report.dateEndVote|localizeddate('none', 'none', app.request.locale, null, "cccc d MMMM Y HH:mm") }}
					<span class="d-none">{{ page.report.id }}</span>
				</div>
				{# <a href="#" class="btn btn-sm bg-blue">...</a> #}
			</div>
		</div>
	</div>
</div>