{% trans_default_domain 'news' %}

<script src="{{ asset("js/newsObj.js") }}"></script>
<script src="{{ asset("js/comment.js") }}"></script>
<script src="{{ asset("js/sig/sig.js") }}"></script>
<link rel="stylesheet" href="{{ asset('/css/news.css') }}" />


{% if posts|length == 0 and page.isConfAuth("AUTH_SENDPOST", app.user.myUserPage) %}
	{% if app.user.myUserPage.slug == page.slug and app.user.myUserPage.isActive == true %}
		<div class="text-cente ui-block padding-25" style="">
			<h4><i class="fa fa-pencil"></i> {% trans %}Publish your first message{% endtrans %} !</h4>
			<p>
				<b>{% trans %}Your first message is important{% endtrans %} !</b><br><br>
				{% trans %}For your first steps on Nexxo, we invite you to introduce yourself to other members of the network, in your own way, so as to show your presence and make them want to subscribe to your publications, or become friends with you{% endtrans %}.
				<br>
				<br>
				<b>{% trans %}Suggestion{% endtrans %} · </b>
				<a class="letter-blue" href="{{ path('page-settings', {'slug' : page.slug, 'subview': 'form-address-geopos' })}}">
					{% trans %}Give your geographical position{% endtrans %}
				</a> 
				{% trans %}to spread your first message around you, and start now to connect with people who live near you{% endtrans %}.
			</p>
		</div>
	{% endif %}

	{%  if page.type != "user" 
		and app.user.myUserPage.isActive == true 
		and app.user.myUserPage.relations.getImAdminOf(page.slug) 
	%}
		<div class="text-cente ui-block padding-25" style="">
			<h4>
				<i class="fa fa-check"></i> 
				{% trans %}Your page has been created{% endtrans %} !
			</h4>
			<p>
				<b>
					<i class="fa fa-cogs"></i> 
					{% trans %}Let's configure 2 important details{% endtrans %} !
				</b>
				<br>
				<hr> 
                
			</p>
			
			{% set formConf = page.getFormConfidentiality()["page"] %}

            {% set key = "AUTH_SENDPOST" %}
                <div class="description-toggle margin-top-" style="">
                    <div class="description-toggle-content">
                        <div class="h6 no-margin">
                        	<i class="fa fa-lock"></i> 
                        	{{ formConf[key].h6|trans }}
                        </div>
                        <p class="margin-bottom-5">{{ formConf[key].lbl|trans }}</p>
                        
                        {{  include("page/blocks/block-control-confidentiality.html.twig", 
                            { "confkey": key, "confvalue" : page.confidentiality[key], 
                              "page" : page  })  }}

                    </div>
                </div>

            {% set key = "AUTH_CHAT" %}
                <div class="description-toggle margin-top-50" style="">
                    <div class="description-toggle-content">
                        <div class="h6 no-margin">
                        	<i class="fa fa-lock"></i> {{ formConf[key].h6|trans }}
                        </div>
                        <p class="margin-bottom-5">{{ formConf[key].lbl|trans }}</p>
                        
                        {{  include("page/blocks/block-control-confidentiality.html.twig", 
                            { "confkey": key, "confvalue" : page.confidentiality[key], "page" : page  })  }}

                    </div>
                </div>

            <div class="col-12 no-padding">   
				<hr> 
                {{  include("page/blocks/rules-confidentiality.html.twig", { "page" : page  })  }}
                <hr>
                <small>{% trans %}This message will disappear as soon as you post a message on this page{% endtrans %}.</small>
            </div>

		</div>
		<div class="text-cente ui-block padding-25" style="">
			<h4><i class="fa fa-pencil"></i> {% trans %}Publish your first message{% endtrans %} !</h4>
			<p>
				<!-- <b>{% trans %}Your first message is important{% endtrans %} !</b><br> -->
				<!-- {% trans %}Start now publishing messages for your followers{% endtrans %}. -->
				<!-- <br> -->
				<!-- <br> -->
				<b>{% trans %}Suggestion{% endtrans %} · </b>
				<a class="letter-blue" href="{{ path('page-settings', {'slug' : page.slug, 'subview': 'form-address-geopos' })}}">
					{% trans %}Give the geographical position of this page{% endtrans %}
				</a> 
				{% trans %}to spread your first message around you, and start now to connect with people who live near you{% endtrans %}.
				<hr>
				{% trans %}Geographical messages are accessible to visitors on this page, if the visitor is located in the selected area{% endtrans %}.
				<hr>
				{% trans %}Share the url of this page, in you own news stream, to make it known around you, to your friends or your followers{% endtrans %} : <br>
				<a href="{{ path('page', { 'slug' : page.slug }) }}">
					{{ base_url }}{{ path('page', { 'slug' : page.slug }) }}
				</a>
			</p>
		</div>
	{% endif %}

{% endif %}


{% set preTags = [	"#goodNews", 		"#badNews", 
					"#enjoy", 			"#myQuestion", 
					"#myIdea", 			"#survey", 
					"#againAndAgain", 	"#whyNot", 
					"#iHaveADream", 	"#action"] %}

{% if formNews is defined and page.isConfAuth("AUTH_SENDPOST", app.user.myUserPage) %}
	{{ include('news/forms/news-form.html.twig', { "form" 		: formNews, 
												   "myPosition" : myPosition,
												   "page" 		: page,
												   "dashboard"  : dashboard,
												   "preTags"    : preTags }) }}
{% endif %}

{% if dashboard == "true" %}
<div class="block-welcome-dashboard">
	<div class="h4 padding-5 text-left no-margin" style="font-size:18px;">
		<small>
			<i class="fa fa-ellipsis-v margin-right-5"></i> 
			{% trans %}Hi{% endtrans %} <b>{{ page.name }}</b>, {% trans %}what messages are you interested in today{% endtrans %} ?
		</small>
		{% if page.coordinates[0] == "false" %}
			<a href="{{ path('page-settings', {'slug' : page.slug, 'subview': 'form-address-geopos' })}}" 
				class="float-right letter-blue" data-toggle="tooltip" 
				data-original-title="{% trans %}Give your position to enable the local communication option{% endtrans %}">
				<i class="fa fa-map-marker"></i>
			</a>
	  	{% endif %}
	</div>
	<div class="ui-block padding-10">
		<div role="group" class="btn-group d-flex btn-group-type-msg">
		  <button class="btn btn-secondary btn-default btn-filter-stream letter-white col 
		  		  {% if filter == 'all' %}active{% endif %}" 
		  		  type="button" data-filter="all" data-id-target="{{ page.id }}" data-is-dashboard="{{ dashboard }}">
		  	<i class="fa fa-circle"></i> {% trans %}All{% endtrans %}
		  </button>
		  {% if page.coordinates[0] != "false" %}
			  <button class="btn btn-secondary btn-default btn-filter-stream letter-white col 
			  		  {% if filter == 'localised' %}active{% endif %}" 
			  		  type="button" data-filter="localised" data-id-target="{{ page.id }}" data-is-dashboard="{{ dashboard }}">
			  	<i class="fa fa-globe"></i> {% trans %}Localised{% endtrans %}
			  </button>
		  {% endif %}
		  <button class="btn btn-secondary btn-default btn-filter-stream letter-white col 
		  		  {% if filter == 'contacts' %}active{% endif %}" 
		  		  type="button" data-filter="contacts" data-id-target="{{ page.id }}" data-is-dashboard="{{ dashboard }}">
		  	<i class="fa fa-group"></i> 
		  	<span class="d-none d-sm-inline">{% trans %}My{% endtrans %}</span> {% trans %}Contacts{% endtrans %}
		  </button>
		</div>
	</div>
</div>
{% else %}
<div class="block-welcome-dashboard">
	<div class="ui-block padding-10">
		<div role="group" class="btn-group d-flex btn-group-type-msg">
		  <button class="btn btn-secondary btn-default btn-filter-stream letter-white col active" 
		  		  type="button" data-filter="all" data-id-target="{{ page.id }}" data-is-dashboard="{{ dashboard }}">
		  	<i class="fa fa-refresh"></i> {% trans %}Reload{% endtrans %}
		  </button>
		</div>
	</div>
</div>
{% endif %}

{# {% if dashboard == "true" %} #}
	<div class="h4 padding-5 text-left no-margin" style="font-size:18px;">
		<small>
			<i class="fa fa-ellipsis-v margin-right-5"></i> 
			{% trans %}Search by{% endtrans %} <b>#tag</b>
		</small>
	</div>

	<div class="text-center ui-block" style="padding:15px 10px 0 10px;">
		<div class="d-flex">
			<div class="col-10 col-lg-11 no-padding">
				<input type="text" id="search-tags" class="form-control bg-white" 
					  placeholder="{% trans %}#youCan #search #manyTag #together{% endtrans %}">
			</div>
			<div class="col-2 col-lg-1 no-padding">
				<button class="btn btn-secondary full-width  btn-filter-stream" id="btn-search-by-tag" 
						data-filter="active" data-id-target="{{ page.id }}" data-is-dashboard="{{ dashboard }}">
					<i class="fa fa-refresh"></i>
				</button>
			</div>
		</div>
		<div class="col-12 search-tools no-padding d-none margin-bottom-15">
			<h6 class="text-left"><i class="fa fa-hashtag"></i> {% trans %}Suggestions{% endtrans %}</h6>
			<hr>
			{% for tag in ["#goodNews", "#badNews", 
							"#enjoy", "#myQuestion", 
							"#myIdea", "#survey", 
							"#againAndAgain", "#whyNot", 
							"#iHaveADream", "#action"] %}
					<button class="btn btn-secondary btn-filter-tag" data-tag-value="{{ tag|trans }}">{{ tag|trans }}</button>
			{% endfor %}
		</div>
		{% if topTenTags is defined %}
		<div class="col-12 search-tools no-padding d-none margin-bottom-15">
			<hr>
			<h6 class="text-left"><i class="fa fa-line-chart"></i> {% trans %}Current trend{% endtrans %}
				<small class="float-right">{% trans %}Top 10 last 7 days{% endtrans %} <i class="fa fa-angle-down"></i></small>
			</h6>
			<hr>
			{% for tag in topTenTags %}
					<button class="btn btn-secondary btn-filter-tag" data-tag-value="{{ tag.tag }}">{{ tag.tag }} ({{ tag.count }})</button>
			{% endfor %}
			<br><br>
		</div>
		{% endif %}
	</div>
{# {% endif %} #}


{% if posts|length == 0 
   and app.user.myUserPage.slug != page.slug
   and app.user.myUserPage.relations.inFollows(page.slug) == false
   and app.user.myUserPage.relations.ImFriend(page.slug) == false 
%}
	<h5 class="text-center">
		{% trans %}No publication accessible to you{% endtrans %}
	</h5> <hr>
	<h5 class="text-center">
		{% trans %}You must follow this page, or become friend/member{% endtrans %},<br>
		{% trans %}to be able to read more publication{% endtrans %}
	</h5> <hr>
{% endif %}


{% if dashboard == "true" %}
<div class="block-welcome-dashboard margin-bottom-50 d-none" id="msg-loading-preview">
	<h4 class=" padding-5 text-center no-margin" style="font-size:18px;">
		<small>
			<i class="fa fa-refresh margin-right-5"></i><br>
			{% trans %}Loading publication{% endtrans %}
		</small>
	</h4>
</div>
{% endif %}

<div id="newsfeed-items-grid">
	{{ include('news/blocks/items-grid.html.twig', { "posts" : posts, "page" : page, "dashboard" : dashboard }) }}
</div>


<script>
	$( document ).ready(function() {
		newsObj.initSharePost();
		newsObj.initLikePost();
		newsObj.initBtnReloadStream();
		newsObj.initSelectTag();
		newsObj.initShowScopePost();
		newsObj.scalePostSize();
		comment.initUi();
        comment.initFormAddComment();
        pageObj.initFormConfidentiality();
	});
</script>