{% trans_default_domain 'news' %}

{% extends('theme/base-app.html.twig') %}


{% block body %}

	<div class="header-spacer"></div>

	<!-- Top Header -->
	<div class="container">
		<h5 class="letter-red">
			{% trans %}Sorry, this post has been disabled{% endtrans %}
			{% if post.report.closedByType == "ADMIN" %}
				{% trans %}by an admin{% endtrans %}  : 
				<a href="{{ path('page', {"slug": post.report.closedByUser.slug }) }}">
					{{ post.report.closedByUser.name }}
				</a>
			{% elseif post.report.closedByType == "CO_MODERATION" %}
				{% trans %}by collective moderation{% endtrans %}
			{% endif %}
		</h5>
	</div>

{% endblock %}