{% trans_default_domain 'report' %}

<div class="ui-block-title">
	<h6 class="title">
		<i class="fa fa-balance-scale"></i> {% trans %}Collective moderation : How it works ?{% endtrans %}
	</h6>

	<div class="more">
		<i class="fa fa-times fa-2x" data-dismiss="modal" aria-label="Close"></i>
	</div>
</div>

<div class="ui-block-content letter-dark">
<p>
	<b>{% trans %}On Nexxo, everyone is a moderator{% endtrans %}.</b><br>
	<small>{% trans %}The administrators reserve the right to delete without delay the pornographic or violent contents (which can shock the sensitivity of the youngest or the most fragile){% endtrans %}.<br><br>
	{% trans %}All other content is moderated by network members as a whole, to avoid arbitrary censorship by administrators{% endtrans %}.
	</small>
</p>
<hr>
<p>
	<small>
	{% trans %}Nexxo does not impose any charter to you. You vote in your soul and conscience{% endtrans %}.<br>
	{% trans %}As you are all moderators, free to vote, you are the only ones who can define what you think has its place on Nexxo or not{% endtrans %}.
	</small>
</p>
<hr class=" margin-top-25">
<h5 class="no-margin"><i class="fa fa-angle-down"></i> {% trans %}Rules of operation{% endtrans %}</h5>
<hr>
	
<p>
	<i class="fa fa-ellipsis-v padding-right-5"></i> 
	{% trans %}When a content (publication, comment, page) seems inappropriate to you, you can report it{% endtrans %}.
	<br><br>
	<i class="fa fa-ellipsis-v padding-right-5"></i> 
	{% trans %}In order to limit abusive reporting, as long as content is the subject of{% endtrans %} 
	<b>{% trans %}less than{% endtrans %} {{ maxReport }}</b> 
	{% trans %}report, no alert is shown on the content display{% endtrans %}.
	<br><br>
	<i class="fa fa-ellipsis-v padding-right-5"></i> 
	{% trans %}When a content is reported by at least{% endtrans %} {{ maxReport }} 
	{% trans %}different people, a collective voting procedure is automatically triggered{% endtrans %}.
	<br><br>
	<i class="fa fa-ellipsis-v padding-right-5"></i> 
	{% trans %}Anyone with access to a voting procedure can vote for/against blocking content{% endtrans %}.
	<br><br>
	<i class="fa fa-ellipsis-v padding-right-5"></i> 
	{% trans %}The duration of a voting procedure is 72 hours{% endtrans %}.<br>
	{% trans %}At the end of this period, the content is locked or retained, depending on the results (50% majority){% endtrans %}.
	<br><br>
	<i class="fa fa-ellipsis-v padding-right-5"></i> 
	{% trans %}Locked content is not removed from the database, but becomes unreachable for users
	{% endtrans %}.
	<br><br>
	<i class="fa fa-ellipsis-v padding-right-5"></i> 
	{% trans %}It is possible to consult all the blocked content, by going to the section{% endtrans %}
	<a href="{{ path('all-reports-pages') }}" target='_blank'>{% trans %}collective moderation{% endtrans %}</a>, 
	{% trans %}available in the menu (profile picture, top left of your screen){% endtrans %}. 
	{% trans %}This is to make it possible to check the content blocked by everyone, and make the process completely transparent{% endtrans %}.
</p>
<hr>
<p>
	<b>{% trans %}In order to avoid abusive blockages{% endtrans %} :</b><br>
	{% trans %}when{% endtrans %} <b>{% trans %}page{% endtrans %}</b> 
	{% trans %}is locked, it is possible to restart the moderation procedure to try to reactivate the page{% endtrans %}.<br><br>
	{% trans %}The new procedure also lasts 72 hours. If a majority of favorable votes is collected during this new procedure, the page is automatically reactivated. Otherwise, it remains stuck{% endtrans %}...
	<br><br>
	{% trans %}On the other hand, any blocking of publication and commentary is definitive{% endtrans %}.<br>
	{% trans %}It is not possible to restart the moderation procedure for these contents{% endtrans %}.<br>
</p>
<hr>
<p>
	{% trans %}The rules described previously have been fixed by the Editor of the site in order to propose a first operational version of the system. They will evolve over time, to perfect the system and adapt it to the needs of use, according to the evolution of the practices of the users, as well as their{% endtrans %} 
	<a href="{{ path('contact-admin', { 'type' : 'suggestion' }) }}" target='_blank'>{% trans %}suggestions{% endtrans %} </a>.<br>
	
</p>
</div>

<div class="modal-footer">
	<button class="btn btn-default letter-red no-margin" 
			 data-dismiss="modal" aria-label="Close">Ok
	</button>
</div>