{% extends('theme/base-app.html.twig') %}
{% trans_default_domain 'group' %}

{% block body %}

<div class="header-spacer header-spacer-small"></div>
{# <div class="main-header">
	<div class="content-bg-wrap">
		<div class="content-bg bg-group"></div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 m-auto col-md-8 col-sm-12 col-xs-12">
				<div class="main-header-content">
					<h1>Manage your friends, groups, and relations</h1>
					<p>Welcome to your friends groups ! Groups will let you easily manage your friends and put them into categories so when you enter you’ll only see a newsfeed of those friends that you placed inside the group. Just click on the plus button below and start now !
					</p>
				</div>
			</div>
		</div>
	</div>
	<img class="img-bottom" src="{{ asset("img/group-bottom.png") }}" alt="friends">
</div> #}

<!-- Main Content Groups -->
<div class="container">
	<div class="row margin-15 app-group">
		<div class="no-margin row margin-top-50">
			<div class="h3 full-width title-group">
				
				{# <svg class="olymp-menu-icon left-menu-icon"  
					  data-toggle="tooltip" data-placement="right">
					<use xlink:href="{{ asset('icons/icons.svg') }}#olymp-happy-faces-icon"></use>
				</svg>  #}
				<i class="fa fa-hand-peace-o"></i>
				<span class="font-konkretika">{% trans %}Manage your friends, groups, and relations{% endtrans %}</span>
				
				<br>
				<small>
					<small>
						<small>
							{% trans %}You can create private groups to manage your friends, and get in touch with everybody{% endtrans %} !
						</small>
					</small>
				</small>
				<br>
				<hr>
				<a href="{{ path('page-settings', {'slug' : page.slug, 'subview': 'form-confidentiality' })}}" 
					class="btn btn-sm btn-secondary float-right btn-conf-group">
					{# <i class="fa fa-cogs"></i>  #}
					<i class="fa fa-lock"></i> 
					{% trans %}Privacy settings{% endtrans %}
				</a>
			
			</div>
			
			{{ include("page/sections/community.html.twig", { "page" : page }) }}
		</div>
	</div>
</div>



{% endblock %}