{% extends('theme/base-app.html.twig') %}
{% trans_default_domain 'group' %}

{% block body %}

<div class="header-spacer header-spacer"></div>
<!-- Main Content Groups -->
<div class="container">
	<div class="row margin-15 app-group">
			<div class="h3 full-width title-group">
				
				{# <svg class="olymp-menu-icon left-menu-icon"  
					  data-toggle="tooltip" data-placement="right">
					<use xlink:href="{{ asset('icons/icons.svg') }}#olymp-happy-faces-icon"></use>
				</svg>  #}
				<i class="fa fa-circle"></i>
				<span class="font-konkretika">{{ group.name }}</span>
				<a href="{{ path('page', { 'slug': group.owner.slug, 'view': 'community' }) }}" class="btn btn-sm btn-secondary float-right">
					<i class="fa fa-angle-left"></i> {% trans %}Back{% endtrans %}
				</a>
				<hr>
			</div>
			
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="ui-block">
					<div class="row col no-margin row-toggle padding-top-10" data-row-id="friends">
						{% if group.members is defined %}
							{% for aPage in group.members %}
								{{ include("page/blocks/page-block-community.html.twig", { "aPage" : aPage }) }}
							{% endfor %}
						{% endif %}
					</div>
				</div>
			</div>
	</div>
</div>



{% endblock %}