{% trans_default_domain 'contact' %}

{% extends 'theme/base-landing.html.twig' %}

{% block body %}

<div class="container">
    <div class="d-flex justify-content-center margin-top-50">
        <div class="col col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12 ui-block no-padding">
            <div class="ui-block-title">
                <h5 class="title">
                    {% if type == "bug" %} 
                        <i class="fa fa-bug"></i> 
                        {% trans %}Report a bug{% endtrans %}
                    {% elseif type == "suggestion" %}
                        <i class="fa fa-comment"></i> 
                        {% trans %}Send your suggestion{% endtrans %}
                    {% elseif type == "message" %}
                        <i class="fa fa-send"></i> 
                        {% trans %}Send a message{% endtrans %}
                    {% endif %}

                </h5>
            </div>
            <div class="ui-block-content">

                <p>
                {% if type == "bug" %} 
                    {% trans %}You want to report a bug{% endtrans %} ?<br>
                    {% trans %}Please describe as precisely as possible the problem you have encountered{% endtrans %}.<br>
                    {% trans %}We will do our best to fix the bugs as soon as possible{% endtrans %}.<br><br>
                    {% trans %}Thank you for your participation{% endtrans %} !<hr>
                {% elseif type == "suggestion" %}
                    {% trans %}You want to suggest an idea to improve the application{% endtrans %} ?<br>
                    {% trans %}Do not hesitate, all your suggestions are welcome{% endtrans %} !<hr>
                {% elseif type == "message" %}
                    {% trans %}Send your messages to the network manager(s){% endtrans %}.<br><br>
                    {% trans %}If you want a response from us, please indicate a valid e-mail address to which we can contact you{% endtrans %}.
                    {% trans %}Otherwise, we will use the instant messenger network, or the email address linked to your account{% endtrans %}.
                {% endif %}
                </p>

                
                {{ form_start(form) }}

                <div class="form-group label-floating">
                    {% if form.object is defined %}
                        {{ form_label(form.object, null, {'label_attr': {'class': 'control-label'}}) }}
                        {{ form_widget(form.object, {'attr': {'class': 'form-control'}}) }}
                        {{ form_help(form.object) }}
                        {{ form_errors(form.object) }}
                    {% endif %}
                </div>

                <div class="form-group label-floating">
                    {{ form_label(form.text, null, {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.text, {'attr': {'class': 'form-control'}}) }}
                    {{ form_help(form.text) }}
                    {{ form_errors(form.text) }}
                </div>

                <div class="form-group">
                    {% if form.type is defined %}
                        {{ form_widget(form.type, {'attr': {'class': ''}}) }}
                        {{ form_errors(form.type) }}
                    {% endif %}
                </div>

                <button type="submit" class="btn btn-green btn-lg float-right">
                    <i class="fa fa-send"></i> {% trans %}Send this message{% endtrans %}
                </button>
                <a href="{{ path('my-dashboard') }}" class="btn btn-link btn-lg float-right padding-10 no-margin margin-right-10">
                    <i class="fa fa-"></i> {% trans %}Cancel{% endtrans %}
                </a>

                {{ form_end(form) }}

            </div>
        </div>
    </div>
</div>


{% endblock %}