<style>
.flashback{
    position: relative;
    padding: 20px;
    border: 8px solid white;
    font-size: 15px;
    min-height: 80px;
}
</style>

{% for label, messages in app.flashes %}
    {% for message in messages %}
        {% set alertLbl = label %}
        {% if alertLbl == "error" %}{% set alertLbl = "danger" %}{% endif %}
        <div class="container">
            <div class="flashback alert alert-{{alertLbl}} callout">
                {{message|raw|nl2br }}
                <a href="#" class="btn btn-sm btn-primary pull-right" id="btn-ok">
                    <i class="fa fa-check"></i> Ok
                </a>
            </div>
        </div>
    {% endfor %}
{% endfor %} 
<br>

<script>
$( document ).ready(function() {
    $("#btn-ok").click(function(){
        $(".flashback").hide();
    })
});
</script>