{% trans_default_domain 'homepage' %}


{% extends 'theme/base-landing.html.twig' %}

{% block body %}

<style>
p{
    font-size: 17px;
}
span{
    font-size: 14px;
}
body.dark-theme input.form-control{
	background-color: #464a51 !important;
}
.main-video-homepage{
	width:100%;
	max-width: 560px; 
	height:315px; 
	margin-top: 50px;
}
</style>
<!-- ... end Landing Header -->

<!-- Login-Registration Form  -->

<div class="container" style="">
	<div class="row">
		<div class="col-xl-6 col-lg-6 col-md-7 col-sm-12 col-xs-12">
			<div class="landing-content border-radius-5">
				
				<h2 class="d-none d-xl-inline" style="margin-top:35px;">
					{% trans %}Because transforming society{% endtrans %}<br>
					{% trans %}is no longer an option{% endtrans %}...<br>
				</h2>

				<h4 class="d-none d-sm-block d-xl-none text-center" id="title-h4-md">
					{% trans %}Because transforming society{% endtrans %}<br>
					{% trans %}is no longer an option{% endtrans %}...
				</h4>

				<h5 class="d-sm-none text-center" style="margin-top:10px; margin-bottom:10px;">
					{# <img src="{{ asset('img/logo/logo-earth.png') }}" alt="img" height="90"><br> #}
					{% trans %}Because transforming society{% endtrans %}<br>
					{% trans %}is no longer an option{% endtrans %}...
				</h5>

				<p style="font-size:16px;" class="font-konkretika">
					{% trans %}Face to social, political, economic and ecological crises{% endtrans %},<br> 
					{% trans %}the need to transform our society no longer needs to be demonstrated{% endtrans %}.
					{# <br><br>
					Face au <b>dérèglement climatique</b>, à la <b>fin des énergies fossiles</b>, 
					et aux effets dévastateurs de la <b>pollution industrielle</b>, 
					la nécessité de transformer notre société n'est plus à démontrer. #}
					<br><br><br>
					
					<b>
						<span style="font-size:18px;">
						Nexxo {% trans %}is a new kind of communication tool{% endtrans %}
						</span>, 
						{% trans %}serving those who want to connect with others locally{% endtrans %}
					</b>, 
					
					{% trans %}in the desire to discuss the problems of our time, find solutions,{% endtrans %} 
					{% trans %}and coordinate initiatives{% endtrans %} 
					
					<span style="font-size:25px;">{% trans %}in all areas{% endtrans %}</span>, <br>
					
					{% trans %}to reorganize our lives and build together a peaceful future, for ourselves and for our children{% endtrans %}.
					
					<br><br>
					
					{# <span class="font-konkretika" style="font-size:21px;">
						La transition vers le monde d'après a déjà commencé.<br>
						Et vous, êtes-vous prêt à changer le monde ?
					</span> #}
					<br>
				</p>

					<h5 class="letter-red no-margin">{% trans %}version beta test{% endtrans %} :</h5>
					<small style="font-size:12px;">
						{# <b>
							Nexxo 
							{% trans %}is an independent social network, developed sheltered from prying eyes{% endtrans %}, 
							{% trans %}in a grimy garage{% endtrans %}.
						</b>
						<br> #}
						<b>
							{% trans %}It is possible that bugs will occur in the coming weeks{% endtrans %}, <br>
							{% trans %}since the platform has never been tested on a large scale{% endtrans %}.
						</b>
						<br><br>
						<b>
							{% trans %}If you encounter problems while browsing, please report them by clicking here{% endtrans %}
						</b> : 
						<a href="{{ path('contact-admin', { 'type' : 'bug' }) }}" target="_blank"
							class="btn btn-danger bg-red btn-sm padding-5 margin-left-10 margin-top-10">
							{% trans %}Report a bug{% endtrans %}
						</a>
						<br>
						<b>
							<a href="/page/alpha-tango" class="float-left margin-right-10">
								<img src="{{ asset('img/alpha-tango-black-circle.png') }}" 
									 class="padding-bottom-10" style="border-radius:50px;" height="50"> 
								
							</a> 
							<a href="/page/alpha-tango">Alpha Tango</a>
								
							{% trans %}will do his best to stabilize the platform as soon as possible{% endtrans %}.
						</b>
					</small>
				{# <iframe class="main-video-homepage" src="https://www.youtube.com/embed/IeJsgT1_hEw" 
						frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
						allowfullscreen></iframe> #}
				<br><br>
			</div>
		</div>

		<div class="col-xl-6 col-lg-6 col-md-5 col-sm-12 col-xs-12">
		{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

			{{include('theme/account/already-login.html.twig', { result : app.user.myUserPage })}}
			
		{% else %}
			<div class="col-xl-8 col-lg-8 col-md-11 col-sm-12 col-xs-12 float-right">
				{{include('theme/account/form-login.html.twig')}}
				<br><br><hr>
				<h5 class="text-center">
					<a class="letter-white" target="_blank" href="https://gitlab.com/Alpha_Tango/nexxo/wikis/Comment-ca-marche-%3F">
						{% trans %}How it works{% endtrans %} ?
					</a>
				</h5>
				<hr>
				<h5 class="text-center">
					<a class="letter-white" target="_blank" href="https://gitlab.com/Alpha_Tango/nexxo/wikis/Comment-ca-marche-%3F">
						{% trans %}Learn{% endtrans %} <i class="fa fa-plus"></i>
					</a>
				</h5>
				<hr>
				<h5 class="text-center">
					<a class="letter-white" target="_blank" href="https://gitlab.com/Alpha_Tango/nexxo/wikis/Les-avantages">
						{% trans %}Learn +{% endtrans %} <i class="fa fa-plus"></i>
					</a>
				</h5>
				{# <hr>
				<h5 class="text-center">
					<a class="letter-white" target="_blank" href="https://gitlab.com/Alpha_Tango/nexxo/wikis/Les-avantages">
						<i class="fa fa-facebook fa-2x padding-10 bg-blue border-radius-15"></i>
					</a>
					<a class="letter-white" target="_blank" href="https://gitlab.com/Alpha_Tango/nexxo/wikis/Les-avantages">
						<i class="fa fa-youtube fa-2x padding-10 bg-red border-radius-15"></i>
					</a>
				</h5> #}
				<hr>
				<div class="text-center">
					{% trans %}How to publish videos on Nexxo without risking censorship{% endtrans %} ?<br>
					{% trans %}Create your channel and publish on Peertube of course{% endtrans %} !
					<h5 class="margin-top-5">
						<a class="letter-white" target="_blank" href="https://peervideo.net/">
							<img src="{{ asset('img/peertube.png') }}" height="40">
						</a>
					</h5>
				</div>

			</div>
		{% endif %}

		</div>

		
		<div class="col-12 shadow-home-head block-homepage d-block" style="margin-top:100px;">
			<div class="row text-center">
				<div class="col-12">
					{# <hr> #}
					<h3><i>{% trans %}Nexxo in a few words{% endtrans %}...</i><br><i class="fa fa-angle-down"></i><br></h3>
				</div>
				<div class="col-12 col-md-4">
					<h5>
						<i class="fa fa-thumbs-up fa-2x"></i><br>
						{% trans %}Free and without ads{% endtrans %}
					</h5>
					<span>Nexxo {% trans %}is not a commercial website{% endtrans %}.</span><br>
					<span>{% trans %}Registration is free{% endtrans %}.</span><br>
					<span>{% trans %}No advertising will disturb your navigation{% endtrans %}.</span><br><br>
					<span>{% trans %}The platform is fully funded by your donations{% endtrans %}.</span><br>
					<span>{% trans %}A donation campaign will be launched from the 1000th registered member{% endtrans %}.</span>
					<br>
					{# <a href="btn btn-sm btn-secondary">{% trans %}Learn more{% endtrans %}</a><br><br> #}
				</div>
				<div class="col-12 col-md-4">
					<h5>
						<i class="fa fa-thumbs-up fa-2x"></i><br>
						{% trans %}Open-Source{% endtrans %}
					</h5>
					<span>{% trans %}In order to guarantee the reliability of the platform, the source code of the application is accessible to all{% endtrans %}.</span> 
					<span>{% trans %}No more hidden algorithms that treat your data in secret !{% endtrans %}</span> 
					<span>{% trans %}Everything is verifiable, and even improvable.{% endtrans %}</span><br><br>
					<span>{% trans %}If you want to participate in the development{% endtrans %},<br>
						  {% trans %}you are welcome !{% endtrans %}
					</span>
					<br>
					<a href="https://gitlab.com/Alpha_Tango/nexxo/tree/master" target="_blank">
						{% trans %}Consult the code{% endtrans %}
					</a>
					<br><br>
				</div>
				<div class="col-12 col-md-4">
					<h5>
						<i class="fa fa-lock fa-2x"></i><br>
						{% trans %}Protects your data{% endtrans %}
					</h5>
					<span>{% trans %}You are free to set the level of visibility for each piece of data you share on the app.{% endtrans %}
					<br>
					{% trans %}Your datas is stored on a secure server, and will never be resold or shared with anyone.{% endtrans %}
					<br><br>
					{% trans %}Every contents you publish (publications, comments, private message) are stored encrypted in our database, so as to make it more complex to use fraudulently in case of hacking of the database.{% endtrans %}
					</span>
					<br>
					{# <span>{% trans %}What happens on Nexxo remains on Nexxo ;){% endtrans %}</span><br> #}
					{# <a href="btn btn-sm btn-secondary">{% trans %}Learn more{% endtrans %}</a><br><br> #}
				</div>
			</div>


			<div class="row text-center" style="margin-top:100px;">
				<div class="col-12">
					{# <hr> #}
					<h3><i>{% trans %}What makes Nexxo{% endtrans %}</i><br>
					<i>{% trans %}a social network realy different...{% endtrans %}</i><br>
					<i class="fa fa-angle-down"></i><br></h3><br>
				</div>
				<div class="col-12 col-md-6">
					<h5>
						<i class="fa fa-bullseye fa-2x"></i><br>
						{% trans %}Local communication{% endtrans %}
						</h5>
					<span>{% trans %}You can send geolocated messages{% endtrans %},<br>
					{% trans %}by selecting the geographical area{% endtrans %}<br>
					{% trans %}where you want to broadcast your message{% endtrans %}.</span><br><br>

					<span>{% trans %}All members located within this zone<br>will receive your message in their news feed as well as a live notification.{% endtrans %}</span><br><br>
					<img src="{{ asset('img/homepage/geo-com.png') }}" style="max-width:550px; min-width:350px; width:60%;">
					<br><br>
				</div>
				{# <div class="col-12 col-md-4">
					<h5>
						<i class="fa fa-bolt fa-2x"></i><br>
						{% trans %}Live notifications{% endtrans %}
					</h5>
					<span>{% trans %}The notification system will allow you to easily follow all the discussions in which you participate, and stay informed of everything that happens on the network.{% endtrans %}</span><br><br>
					<img src="{{ asset('img/homepage/notifications.png') }}" style="max-width:100%;"><br><br>

				</div> #}
				<div class="col-12 col-md-6">
					<h5>
						<i class="fa fa-balance-scale fa-2x"></i><br>
						{% trans %}Collective and democratic moderation{% endtrans %}
					</h5>
					<span>{% trans %}With Nexxo: no more arbitrary censorship{% endtrans %} !</span><br>
					<span>{% trans %}Each member of the network is also a moderator.{% endtrans %}<br>
						  {% trans %}Which means that you can all report content that seems inappropriate to you{% endtrans %},<br> 
						  {% trans %}and participate in the votation{% endtrans %}.<br><br>

					<span>{% trans %}When the same content is reported by more than{% endtrans %} {{ maxReport }} 
					{% trans %}different people{% endtrans %},<br>
					{% trans %}a voting procedure is opened (72h){% endtrans %}<br>
					{% trans %}to decide collectively whether the content should be blocked or kept.{% endtrans %}</span>
					<br>
					<a href="javascript:" class="btn-modal-report-howitworks" data-toggle="modal" data-target="#modal-quickview">
						{% trans %}Learn more{% endtrans %}
					</a><br><br>
					<img src="{{ asset('img/homepage/report.png') }}" style="max-width:100%;"><br><br>
				</div>
			</div>

			<div class="row text-center" style="margin-top:100px;">
				<div class="col-12">
					{# <hr> #}
					<h3><i class="fa fa-bullseye fa-2x"></i><br>
						<i>{% trans %}Impacts{% endtrans %}</i><br>
						<i>{% trans %}of local communication...{% endtrans %}</i><br>
						<i class="fa fa-angle-down"></i><br>
					</h3><br>
				</div>
				<div class="col-12 col-md-4">
					<h5>
						{% trans %}Social impact{% endtrans %}
						</h5>
					<span>{% trans %}In times of crisis, mutual aid and solidarity between citizens is a key element to support each other.{% endtrans %}</span><br><br>

					<span>{% trans %}Local communication allows those in need to find help around them, and build local, fast and powerful bonds of solidarity.{% endtrans %}</span><br><br>

					<span>{% trans %}Feed, move, warm, heal{% endtrans %}...<br>
					{% trans %}We must be able to rely on each other{% endtrans %} !</span>
					<br><br><br>
				</div>
				<div class="col-12 col-md-4">
					<h5>
						{% trans %}Political impact{% endtrans %}
					</h5>
					<span>{% trans %}The representative democratic model in which we live today seems more and more ineffective and unsuited to face the challenges of our time.{% endtrans %}</span><br><br>

					<span>{% trans %}The creation of local citizens' assembly, in all territories, seems to have become indispensable, if we really want to take back our political power, and our capacity to decide for ourselves, by ourselves.{% endtrans %}</span><br><br>

					<span>{% trans %}Local communication allows citizens who wish to invest in such assemblies to disseminate all the information related to their organization (date/time/places), to their preparation (agenda, survey, reports, etc.), and their deliberations.{% endtrans %}</span>
					<br><br><br>
				</div>
				<div class="col-12 col-md-4">
					<h5>
						{% trans %}Ecological impact{% endtrans %}
					</h5>
					<span>{% trans %}The main ecological problem we face is our dependence on fossil fuels{% endtrans %}.</span><br>
					<span>{% trans %}To reduce our energy consumption, we must not only consume less. We must also consume locally, and produce locally{% endtrans %}.</span><br><br>
					<span>{% trans %}The more we consume locally, the less we consume energy to transport our goods.{% endtrans %}</span><br><br>
					<span>{% trans %}Local communication allows everyone to find local producers more easily (farmers, craftsmen, etc.) and little by little, to relocate our consumption.{% endtrans %}</span>
					<br><br><br>
				</div>
			</div>



			<div class="row text-center" style="margin-top:100px;">
				<div class="col-12">
					<hr><br>
				</div>
				<div class="col-12 col-md-4">
					<h5>{% trans %}Documentation{% endtrans %}</h5>
					<span>{% trans %}All the details of the project are in the wiki{% endtrans %} !</span> <br>
					<span>{% trans %}Feel free to browse through the different chapters{% endtrans %}<br>
					{% trans %}to further explore the particularities of the network{% endtrans %}.</span><br><br>
					{# <i>{% trans %}This wiki is under construction{% endtrans %}.</i><br>
					<i>{% trans %}It is likely to be modified/completed at any time{% endtrans %}.</i><br><br> #}
					<a href="https://gitlab.com/Alpha_Tango/nexxo/wikis/Pr%C3%A9sentation" class="" target="_blank">
					<img src="{{ asset('img/gitlablogo.png') }}" class="padding-bottom-10" height="80">
						{# <i class="fa fa-info-circle"></i> En savoir + #}
					</a>
				</div>
				<div class="col-12 col-md-4">
					<h3><i>{% trans %}Join the server{% endtrans %}</i><br>
						<i>{% trans %}Discord{% endtrans %}</i><br>
					</h3><br>
					<span>{% trans %}Posez toutes vos questions à{% endtrans %} <a href="/page/alpha-tango">Alpha Tango</a></span> <br>
					<span>{% trans %}en direct sur Discord{% endtrans %}</span> <br>
					

					<a href="https://discord.gg/xNzazxk" target="_blank">
						<img src="{{ asset('img/discord-new-logo.png') }}" class="padding-bottom-10" height="100"><br>
					</a>
				</div>
				{# 
				<div class="col-12 col-md-4">
					<h5>{% trans %}Media library{% endtrans %}</h5>
					<span>{% trans %}The media library contains the latest videos from several Youtube channels, selected for their content dealing with ecological, social, economic or political issues.{% endtrans %}</span><br><br>

					<span>{% trans %}The objective is to give some reflections to those who still doubt the reality and the urgency of the situation, and to allow everyone to deepen their knowledge, to better understand the issues and possible solutions.{% endtrans %}</span><br><br>
					<a href="{{ path('mediatheque') }}" class="btn btn-secondary" 
						style="width:80px; height:80px; border-radius:80px;">
						<i class="fa fa-film fa-3x"></i>
					</a>
				</div> #}

				<div class="col-12 col-md-4">
					<h5>{% trans %}Ecological web hosting{% endtrans %}</h5>
					<span>Nexxo {% trans %}is hosted at{% endtrans %} <b>Infomaniak</b>, <br>
						  {% trans %}dont les serveurs sont alimentés avec 100% d'énergies renouvelables{% endtrans %}
					</span><br><br>

					<span>{% trans %}Discover the 17 ecological commitments{% endtrans %}<br><i class="fa fa-angle-down"></i>
					</span><br>

					<a href="https://www.infomaniak.com/fr/hebergeur-ecologique" target="_blank">
						<img src="{{ asset('img/homepage/logo-infomaniak.png') }}" class="padding-bottom-10" height="30"><br>
					</a>
				</div>
				
			</div>
		</div>

	</div>
</div>


<script>
	$( document ).ready(function() {
		reportObj.initBtnModalHowitwork();
	});
</script>

{% endblock %}
