<script src="{{ asset('js/theme/tether.min.js') }}"></script>
<script src="{{ asset('js/theme/popper.min.js') }}"></script>
<script src="{{ asset('js/theme/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/theme/swiper.jquery.min.js') }}"></script>
<script src="{{ asset('js/theme/toastr.min.js') }}"></script>
<script src="{{ asset('js/pluggins/fullcalendar-3.9.0/lib/moment.min.js') }}"></script>

<script src="{{ asset('build/js/app.js') }}"></script>

<script src="{{ asset('js/chat.js') }}"></script>
<script src="{{ asset('js/notificationObj.js') }}"></script>
<script src="{{ asset('js/pageObj.js') }}"></script>
<script src="{{ asset('js/reportObj.js') }}"></script>
<script src="{{ asset('js/transLib.js') }}"></script>
<script src="{{ asset('js/nexxo.js') }}"></script>

<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>

{% if app.user.myUserPage is defined %}
<script>
	var APP_USERNAME = "{{ app.user.myUserPage.name }}";
	var APP_USER_THUMB = "{{ app.user.myUserPage.imageProfil }}";
	var APP_USER_SLUG = "{{ app.user.myUserPage.slug }}";
	var APP_USER_ID = "{{ app.user.myUserPage.id }}";
	var APP_USER_CHATSTATUS = "{{ app.user.myUserPage.chatStatus }}";
	var APP_USER_CHATTOKEN = "{{ app.user.myUserPage.chatToken }}";
	
	var AUTH_CHAT_SOUND = "{{ app.user.myUserPage.isPrefAuth('AUTH_CHAT_SOUND') }}";
	var AUTH_NOTIF_SOUND = "{{ app.user.myUserPage.isPrefAuth('AUTH_NOTIF_SOUND') }}";
	
	var LOCALE = "{{ app.request.locale }}";
	var BASE_URL = "{{ base_url }}";
	nexxo.baseUrl = BASE_URL;
	
	var SOCKET_URL = "{{ socket_url }}";
	var SOCKET_ENABLED = "{{ socket_enabled }}";
	var INTERVAL_TIMER_NOTIF = "{{ interval_timer_notif }}";
	var INTERVAL_TIMER_CHAT = "{{ interval_timer_chat }}";
</script>
{% endif %}
