{% trans_default_domain 'theme' %}

<div class="top-bar">
	<div class="top-bar-right">
		<ul class="menu">
			{% if is_granted('ROLE_ADMIN') %}
				<a href="{{path('app_app_admin')}}">{% trans %}Espace admin{% endtrans %}</a>
			{% endif %}
			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
				<li class="menu-text">{% trans %}Connecté en tant que{% endtrans %} : {{ app.user.username }}</li>
				<li><a href="{{path('logout')}}">{% trans %}Se déconnecter{% endtrans %}</a></li>
			{% else %}
				<li>
					<a href="{{path(('login'))}}">{% trans %}Connexion{% endtrans %}</a>
				</li>
				<li>
					<a href="{{path('user_registration')}}">{% trans %}Inscription{% endtrans %}</a>
				</li>

			{% endif %}


		</ul>
	</div>
</div>
