<div class="modal fade" id="modal-quickview" tabindex="-1" role="dialog" aria-labelledby="modal-quickview" aria-hidden="true">
  <div class="modal-dialog ui-block window-popup modal-quickview" role="document">
    <div class="modal-content" id="modal-content">
      
    </div>
  </div>
</div>