{% trans_default_domain 'theme' %}

<!-- Fixed Sidebar Left -->

<div class="fixed-sidebar">
	<div class="fixed-sidebar-left sidebar--small" id="sidebar-left">
		<a href="{{ path('my-dashboard') }}" class="logo">
			<!-- <img src="{{ asset('img/logo.png') }}"/> -->
			<img src="{{ asset('img/logo/logo-earth.png') }}" height="40">
		</a>

		<div class="mCustomScrollbar" data-mcs-theme="dark">
			<ul class="left-menu">
				<li>
					<a href="#" class="js-sidebar-open">
						{# <svg class="olymp-menu-icon left-menu-icon"  data-toggle="tooltip" 
							 data-placement="right"   data-original-title="{% trans %}OPEN MENU{% endtrans %}">
							 <use xlink:href="{{ asset('icons/icons.svg') }}#olymp-menu-icon"></use>
						</svg> #}
						<i class="fa fa-bars fa-2x" data-toggle="tooltip" 
						   data-placement="right"   data-original-title="{% trans %}OPEN MENU{% endtrans %}"></i>
					</a>
				</li>

				{% if app.user.myUserPage.firstStep == 0 %}
				{% set openApps = [{ 'href'  : 'my-dashboard', 
								   	 'icon'  : 'newspaper-o',
									 'title' : "News Stream" },

								   { 'href'  : 'agora', 
					 				 'icon'  : 'connectdevelop',
									 'title' : "Agora" },
								   
								   { 'href'  : 'search', 
					 				 'icon'  : 'search',
									 'title' : "Search" },
								   
								   { 'href'  : 'search-interop', 
					 				 'icon'  : 'map-marker',
									 'title' : "In transition" },
								   
								   { 'href'  : 'agenda', 
								   	 'icon'  : 'calendar',
									 'title' : "Agenda" },

								   { 'href'  : 'my-groups', 
								   	 'icon'  : 'hand-peace-o',
									 'title' : "My contacts" },
								   
								   { 'href'  : 'create-page', 
								   	 'icon'  : 'plus',
									 'title' : "Create page" },
								  ] 
				%}
				{% else %}
				{% set openApps = [{ 'href'  : 'my-dashboard', 
								   	 'icon'  : 'newspaper-o',
									 'title' : "News Stream" },
								  ] 
				%}
				{% endif %}


				{% for valeur, option in openApps %}
				<li>
					<a href="{{ path(option.href) }}" class="">
						<i class="fa fa-{{ option.icon }} fa-2x" 
						   data-toggle="tooltip" data-placement="right"   
						   data-original-title="{{ option.title|trans }}"></i>
					</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<div class="fixed-sidebar-left sidebar--large" id="sidebar-left-1">
		<a href="{{ path('my-dashboard') }}" class="logo">
			<!-- <img src="{{ asset('img/logo.png') }}"/> -->
			<img src="{{ asset('img/logo/logo-earth.png') }}" height="40">
			<img src="{{ asset('img/nexxo-logo-6.png') }}" height="17">
		</a>

		<div class="mCustomScrollbar" data-mcs-theme="dark">
			<ul class="left-menu">
				<li>
					<a href="#" class="js-sidebar-open">
						{# <svg class="olymp-close-icon left-menu-icon">
							<use xlink:href="{{ asset('icons/icons.png') }}#olymp-close-icon"></use>
						</svg> #}
						<i class="fa fa-times fa-2x margin-right-15"></i>
						<span class="left-menu-title">{% trans %}Collapse Menu{% endtrans %}</span>
					</a>
				</li>
				{% for valeur, option in openApps %}
				<li>
					<a href="{{ path(option.href) }}">
						<i class="fa fa-{{ option.icon }} fa-2x margin-right-15"></i>
						<span class="left-menu-title">{{ option.title|trans }}</span>
					</a>
				</li>
				{% endfor %}

				
				<li>
					<a href="{{ path('index') }}">
						<i class="fa fa-home fa-2x margin-right-15"></i>
						<span class="left-menu-title">{% trans %}Home{% endtrans %}</span>
					</a>
				</li>				
				<li>
					<hr>
				</li>
				<li>
					<a class="togglebutton no-margin">
                        <label style="margin:-3px 10px -5px -20px;">
                            <input type="checkbox" checked="" class="checkbox d-none btn-dark-theme">
                        </label>
                        <span class="left-menu-title"><i class="fa fa-adjust"></i></span>
                    </a>
				</li>


				<li>
					<hr>
				</li>
				<li class="">
					<a href="{{ path('setlocale', {'_locale': 'fr'}) }}">
						<span>
							<img src="{{ asset('img/flag/flag-fr.png') }}" height="15"> {% trans %}French{% endtrans %}
						</span>
					</a>
				</li>
				<li class="">
					<a href="{{ path('setlocale', {'_locale': 'en'}) }}">
						<span>
							<img src="{{ asset('img/flag/flag-en.png') }}" height="15"> {% trans %}English{% endtrans %}
						</span>
					</a>
				</li>

			</ul>

		</div>
	</div>
</div>

<!-- ... end Fixed Sidebar Left -->

<!-- Fixed Sidebar Left -->

<div class="fixed-sidebar fixed-sidebar-responsive">

	<div class="fixed-sidebar-left sidebar--small" id="sidebar-left-responsive">
		<a href="#" class="logo js-sidebar-open active">
			<img src="{{ asset('img/logo/logo-earth.png') }}" height="40">
		</a>
	</div>

	<div class="fixed-sidebar-left sidebar--large" id="sidebar-left-1-responsive">
		<a href="{{ path('my-dashboard') }}" class="logo">
			<img src="{{ asset('img/logo/logo-earth.png') }}" height="40">
			<img src="{{ asset('img/nexxo-logo-6.png') }}" height="17">
		</a>

		<div class="mCustomScrollbar" data-mcs-theme="dark">
			<ul class="left-menu">
				<li>
					<a href="#" class="js-sidebar-open">
						{# <svg class="olymp-close-icon left-menu-icon">
							<use xlink:href="{{ asset('icons/icons.png') }}#olymp-close-icon"></use>
						</svg> #}
						<i class="fa fa-times fa-2x margin-right-15"></i>
						<span class="left-menu-title">{% trans %}Collapse Menu{% endtrans %}</span>
					</a>
				</li>
				<li>
				<a href="{{ path('my-page') }}">
					<img src="{{ asset('uploads/imgProfil/' ~ app.user.imageProfil) }}" height="25" class="margin-right-20"/> 
					<span class="elipsis"><b>{{ app.user.myUserPage.name }}</b></span>
				</a>
				</li>
				{% for valeur, option in openApps %}
				<li>
					<a href="{{ path(option.href) }}">
						{# <svg class="olymp-newsfeed-icon left-menu-icon" 
							 data-toggle="tooltip" data-placement="right"   
							 data-original-title="{{ option.title }}">
							<use xlink:href="{{ asset('icons/icons.png') }}#olymp-{{ option.icon }}-icon"></use>
						</svg> #}
						<i class="fa fa-{{ option.icon }} fa-2x margin-right-15"></i>
						<span class="left-menu-title">{{ option.title|trans }}</span>
					</a>
				</li>
				{% endfor %}

				
				<li>
					<a href="{{ path('index') }}">
						<i class="fa fa-home fa-2x margin-right-15"></i>
						<span class="left-menu-title">{% trans %}Home{% endtrans %}</span>
					</a>
				</li>		
				<li>
					<hr> {# ------------------- #}
				</li>
				<li>
					<a href="/logout">
						{# <svg class="olymp-logout-icon left-menu-icon" 
							 data-toggle="tooltip" data-placement="right"   
							 data-original-title="{% trans %}Log Out{% endtrans %}">
							<use xlink:href="{{ asset('icons/icons.png') }}#olymp-logout-icon"></use>
						</svg> #}
						<i class="fa fa-sign-out fa-2x margin-right-15"></i>
						<span class="left-menu-title">{% trans %}Log Out{% endtrans %}</span>
					</a>
				</li>
				<li>
					<hr> {# ------------------- #}
				</li>
				<li>
					<a class="togglebutton no-margin">
                        <label style="margin:-3px 10px -5px -20px;">
                            <input type="checkbox" checked="" class="checkbox d-none btn-dark-theme">
                        </label>
                        <span class="left-menu-title"><i class="fa fa-adjust"></i></span>
                    </a>
				</li>
				<li>
					<hr> {# ------------------- #}
				</li>

				<li>
					<h6 class="title padding-left-25"><i class="fa fa-angle-down"></i> {% trans %}Chat Settings{% endtrans %}</h6>
				</li>

				<li class="btn-change-chat-status" data-status="online">
					<a href="javascript:">
						<span class="icon-status online"></span>
						<b>{% trans %}Online{% endtrans %}</b>
					</a>
				</li>
				<li class="btn-change-chat-status" data-status="away">
					<a href="javascript:">
						<span class="icon-status away"></span>
						<b>{% trans %}Away{% endtrans %}</b>
					</a>
				</li>
				<li class="btn-change-chat-status" data-status="offline">
					<a href="javascript:">
						<span class="icon-status disconected"></span>
						<b>{% trans %}Offline{% endtrans %}</b>
					</a>
				</li>

				<li>
					<hr> {# ------------------- #}
				</li>
				
				<li>
					<a href="{{ path('all-reports-pages') }}">
						<span class="left-menu-title">
							<i class="fa fa-balance-scale"></i> 
							{% trans %}Collective moderation{% endtrans %}
						</span>
					</a>
				</li>
				<li>
					<a href="{{ path('contact-admin', { 'type' : 'bug' }) }}">
						<span class="left-menu-title">
							<i class="fa fa-bug"></i> 
							{% trans %}Report bug{% endtrans %}
						</span>
					</a>
				</li>
				<li>
					<a href="{{ path('contact-admin', { 'type' : 'suggestion' }) }}">
						<span class="left-menu-title">
							<i class="fa fa-comment"></i> 
							{% trans %}Send suggestion{% endtrans %}
						</span>
					</a>
				</li>
				<li>
					<a href="{{ path('contact-admin', { 'type' : 'message' }) }}">
						<span class="left-menu-title">
							<i class="fa fa-envelope"></i> 
							{% trans %}Contact{% endtrans %}
						</span>
					</a>
				</li>
				<li>
					<hr>
				</li>
				<li class="">
					<a href="{{ path('setlocale', {'_locale': 'fr'}) }}">
						<span>
							<img src="{{ asset('img/flag/flag-fr.png') }}" height="15"> {% trans %}French{% endtrans %}
						</span>
					</a>
				</li>
				<li class="">
					<a href="{{ path('setlocale', {'_locale': 'en'}) }}">
						<span>
							<img src="{{ asset('img/flag/flag-en.png') }}" height="15"> {% trans %}English{% endtrans %}
						</span>
					</a>
				</li>

			</ul>

		</div>
	</div>
</div>
<!-- ... end Fixed Sidebar Left -->
