{% trans_default_domain 'theme' %}
<style>
#lbl-sending-chat-msg{
	position: absolute;
	bottom: 100px;
	left: 10%;
	width: 80%;
	border-radius: 20px;
	background-color: rgb(41, 51, 57);
	padding: 14px;
}
</style>
<!-- Window-popup-CHAT for responsive min-width: 768px -->
<div class="ui-block popup-chat popup-chat-responsive">
	<div class="ui-block-title">
		<span class="icon-status online"></span>
		<div class="title" style="max-width: 280px;"></div>
		<div class="more no-margin">
			<i class="fa fa-circle-o-notch transparent" id="icon-loading-chat" style=""></i>
			<a href="javascript:" class="js-chat-maximize">
				<i class="fa fa-arrows-h fa-2x letter-white"></i>
			</a>
			<a href="javascript:" class="js-chat-close">
				<i class="fa fa-times fa-2x letter-white"></i>
			</a>
		</div>
	</div>
	<div class="mCustomScrollbar">
		<a href="javascript:" class="load-before-conv">
			<i class="fa fa-arrow-up "></i> {% trans %}Load old messages{% endtrans %}
		</a>
		<ul class="notification-list chat-message chat-message-field">
		</ul>
	</div>

	<div class="padding-10 text-center d-none" id="lbl-sending-chat-msg">
		<i class="fa fa-spin fa-circle-o-notch"></i> {% trans %}Sending message{% endtrans %}
	</div>

	<form class="form-chat">
		<div class="form-group label-floating is-empty">
			<label class="control-label">{% trans %}Your message{% endtrans %}...</label>
			<textarea class="form-control chat-msg" placeholder="" 
					data-username-sender="{{ app.user.myUserPage.name }}"
					data-slug-receiver="" data-type-receiver=""></textarea>
		</div>
	</form>
</div>