{% trans_default_domain 'theme' %}

<div class="author-page author vcard inline-items more">
	<div class="author-thumb">
		<a href="{{ path('my-page') }}">
			<img src="{{ asset('uploads/imgProfil/' ~ app.user.imageProfil) }}" height="40"/>
		</a>

		<span class="icon-status menu-top {{ app.user.myUserPage.chatStatus }}" 
			  data-slug="{{ app.user.myUserPage.slug }}"></span>

		<div class="more-dropdown more-with-triangle user-menu">
			<div class="mCustomScrollbar" data-mcs-theme="dark">
				<div class="ui-block-title ui-block-title-small">
					<h6 class="title">{% trans %}Your Account{% endtrans %}</h6>
				</div>

				<ul class="account-settings">
					{% if app.user.myUserPage.firstStep == 0 %}
					<li>
						<a href="{{ path('page-settings', {'slug' : app.user.myUserPage.slug, 'subview': 'form-confidentiality' }) }}">
							{# <svg class="olymp-settings-icon">
							<use xlink:href="{{ asset('icons/icons.svg') }}#olymp-settings-icon"></use>
							</svg> #}
							<i class="fa fa-cogs fa-2x margin-right-15"></i>
							<span>{% trans %}Settings{% endtrans %}</span>
						</a>
					</li>
					{% endif %}
					{% if app.user.isSuperAdmin %}
					<li>
						<a href="{{ path('superadmin') }}">
							{# <svg class="olymp-star-icon left-menu-icon"  data-toggle="tooltip" data-placement="right" 
								data-original-title="FAV PAGE">
								<use xlink:href="{{ asset('icons/icons.svg') }}#olymp-star-icon"></use>
							</svg> #}
							<i class="fa fa-user-secret fa-2x margin-right-15"></i>
							<span>{% trans %}Super-Admin{% endtrans %}</span>
						</a>
					</li>
					{% endif %}
					<li>
						<a href="/">
							{# <svg class="olymp-logout-icon"><use xlink:href="{{ asset('icons/icons.svg') }}#olymp-logout-icon"></use></svg> #}
							<i class="fa fa-home fa-2x margin-right-15"></i>
							<span>{% trans %}Home page{% endtrans %}</span>
						</a>
					</li>
					<li>
						<a href="/logout">
							{# <svg class="olymp-logout-icon"><use xlink:href="{{ asset('icons/icons.svg') }}#olymp-logout-icon"></use></svg> #}
							<i class="fa fa-sign-out fa-2x margin-right-15"></i>
							<span>{% trans %}Log Out{% endtrans %}</span>
						</a>
					</li>
				</ul>

				{# <div class="ui-block-title ui-block-title-small">
					<h6 class="title">{% trans %}Moderation{% endtrans %}</h6>
				</div>

				<ul>
					<li>
						<a href="{{ path('all-reports-pages') }}">
							<span>
								<i class="fa fa-balance-scale"></i> 
								{% trans %}Collective moderation{% endtrans %}
							</span>
						</a>
					</li>
				</ul> #}

				{% if app.user.myUserPage.firstStep == 0 %}
				<div class="ui-block-title ui-block-title-small">
					<h6 class="title">{% trans %}Chat Settings{% endtrans %}</h6>
				</div>

				<ul class="chat-settings">
					<li class="btn-change-chat-status" data-status="online">
						<a href="javascript:">
							<span class="icon-status online"></span>
							<span>{% trans %}Online{% endtrans %}</span>
						</a>
					</li>
					<li class="btn-change-chat-status" data-status="away">
						<a href="javascript:">
							<span class="icon-status away"></span>
							<span>{% trans %}Away{% endtrans %}</span>
						</a>
					</li>
					<li class="btn-change-chat-status" data-status="offline">
						<a href="javascript:">
							<span class="icon-status disconected"></span>
							<span>{% trans %}Offline{% endtrans %}</span>
						</a>
					</li>
				</ul>
				{% endif %}


				<div class="ui-block-title ui-block-title-small">
					<h6 class="title">{% trans %}More{% endtrans %}</h6>
				</div>

				<ul>
					<li>
						<a href="{{ path('all-reports-pages') }}">
							<span>
								<i class="fa fa-balance-scale"></i> 
								{% trans %}Collective moderation{% endtrans %}
							</span>
						</a>
					</li>
					<li>
						<a href="{{ path('contact-admin', { 'type' : 'bug' }) }}">
							<span>
								<i class="fa fa-bug"></i> 
								{% trans %}Report bug{% endtrans %}
							</span>
						</a>
					</li>
					<li>
						<a href="{{ path('contact-admin', { 'type' : 'suggestion' }) }}">
							<span>
								<i class="fa fa-comment"></i> 
								{% trans %}Send suggestion{% endtrans %}
							</span>
						</a>
					</li>
					<li>
						<a href="{{ path('contact-admin', { 'type' : 'message' }) }}">
							<span>
								<i class="fa fa-envelope"></i> 
								{% trans %}Contact{% endtrans %}
							</span>
						</a>
					</li>
				</ul>
			</div>

		</div>
	</div>
	<a href="{{ path('my-page') }}" class="author-name fn" style="max-width:140px;margin-top: 2px;">
		<div class="author-title" style="max-width:140px;">
			<span class="elipsis" style="max-width:110px;">
				{{ app.user.realUsername }}
			</span>
			{# <svg class="olymp-dropdown-arrow-icon">
				<use xlink:href="{{ asset('icons/icons.svg') }}#olymp-dropdown-arrow-icon"></use>
			</svg> #}
			<i class="fa fa-angle-down margin-left-10"></i>
		</div>
		{% if app.user.myUserPage.city != "" %}
		<small class="letter-light elipsis" style="margin-top: -2px;">
			<i class="fa fa-map-marker"></i> {{ app.user.myUserPage.city }}
		</small>
		{% endif %}
	</a>

</div>

{% if socket_enabled == "false" %}
	<button class="btn btn-link margin-left-25 margin-top-10 btn-refresh-notif" title="Actualiser les notifications">
		<i class="fa fa-circle-o-notch fa-2x fa-rotate-180"></i>	
	</button>
{% else %}
	<div class="padding-right-50 d-none d-lg-inline"></div>
	<div class="padding-right-5 d-lg-none"></div>
{% endif %}