{% trans_default_domain 'mail' %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{% trans %}Your account has been created{% endtrans %}</title>
	</head>
	<body>
		<p>
			{% trans %}Hello{% endtrans %} <b>{{ page.name }}</b>, {% trans %}and welcome to{% endtrans %} <b>Nexxo</b> !<br>
			{% trans %}Your account has been created{% endtrans %} !<br><br>
			{% trans %}To activate your account click on the validation link below{% endtrans %} : <br><br>

			{# pour que le lien fonctionne, il est indispensable que le lien soit absolu. #}
			<a href="{{ absolute_url(path('user-confirm-email', {'slug': page.slug, 'token': page.owner.token})) }}" 
				style="padding:10px; background-color:rgba(77, 140, 80, 0.2); border-radius:25px;color: #254226;text-decoration: none;">
				{% trans %}Activate my account{% endtrans %}
			</a>
			<br><br><br>
			{% trans %}By activating your account, you will be allowed to publish content (messages, images, comments), and to participate in the collective moderation system{% endtrans %}.
			<br><br>
			{% trans %}See you soon on{% endtrans %} Nexxo !
		</p>
	</body>
</html>
