{% trans_default_domain 'news' %}

{% if app.user.myUserPage.isActive == true %}

<link rel="stylesheet" href="{{ asset('/js/pluggins/Croppie-2.6.2/croppie.css') }}" />
<script src="{{ asset('/js/pluggins/Croppie-2.6.2/croppie.js') }}"></script>

<div class="ui-block">
	<div class="news-feed-form">
		{# Tab panes #}
		<div class="tab-content">
			<div class="tab-pane active" id="home-1" role="tabpanel" aria-expanded="true">
				{{ form_start(form, { 'action' : path('news-send-post', { "idSigned" : app.user.myUserPage.id, "idTarget":page.id }) }) }}
					<div class="author-thumb">
						<img src="{{ asset('uploads/imgProfil/' ~ app.user.myUserPage.imageProfil) }}" height="36">
					</div>
					<div class="form-group with-icon label-floating is-empty">
						{{ form_widget(form.text, {'attr': {'class': 'form-control', 
							'placeholder':'Something to say ?...'|trans}}) }}
	                    {{ form_help(form.text) }}
	                    {{ form_errors(form.text) }}
	                    <a href="javascript:" class="btn btn-secondary btn-open-tags d-none"><i class="fa fa-hashtag"></i></a>
	                    <a href="javascript:" class="btn btn-secondary btn-open-image d-none"
	                       title="{% trans %}the size of your image must be less than 2MB{% endtrans %}">
	                    	<i class="fa fa-camera"></i>
	                    </a>
	                    <span class="btn btn-secondary btn-file d-none">
							<i class="fa fa-download"></i> {% trans %}Select an image{% endtrans %}
							<input type="file" accept="image/*" id="image-uploader">
						</span>
					</div>
				{{ form_end(form) }}
	            
	            <div class="extanded-form-news d-none">
					<input type="hidden" id="news_scopeGroupsHidden">
					<input type="hidden" id="news_sharedBy_scopeType">
					
					<div class="d-none padding-10 text-left" id="tag-list">
						<label><i class="fa fa-angle-down"></i> {% trans %}Suggestions{% endtrans %}</label><br>
						{% for tag in preTags %}
							<button class="btn btn-secondary btn-select-tag" data-tag-value="{{ tag|trans }}">{{ tag|trans }}</button>
						{% endfor %}
						{% if topTenTags is defined %}
							<br>
							<label><i class="fa fa-angle-down"></i> Top 10</label><br>
							{% for tag in topTenTags %}
								<button class="btn btn-secondary btn-select-tag" data-tag-value="{{ tag.tag }}">{{ tag.tag }}</button>
							{% endfor %}
						{% endif %}
					</div>

					<div class="d-none" style="width:100%;" id="preview-upload-image">
						<img src="" style="max-width:100%;">
					</div>
					<div class="" id="media-shared-loader"></div>
					<div class="form-group d-none" id="media-shared-container"></div>

					{% if app.user.myUserPage.relations.imFriend(page.slug) or app.user.myUserPage.relations.imAdminOf(page.slug) %}
						<div class="form-group d-none" id="map-container"></div>
						<div class="container-scoping d-none">
							<div class="col-9 no-padding">
								<input type="range" class="form-control-range" id="formControlRange" value="10">
							</div>
							<div class="h6 title col-3 no-padding">
								<div class="full-width alert alert-secondary no-margin container-around-val">
									<span class="around-me-distance">10 km</span>					
								</div>
							</div>
						</div>
			        {% endif %}

					<div class="description-toggle col no-margin">
		                <div class="description-toggle-content">
								                    
							{#  if app.user.myUserPage.slug == page.slug
							    or app.user.myUserPage.relations.inFollows(page.slug) 
								and page.type != "user" #}
									{{ include("news/forms/select-scope.html.twig", 
											  { "page":page, "dashboard" : dashboard }) }}
							{# endif #}

							{{ include("news/forms/select-signed.html.twig", { "page":page, "dashboard" : dashboard }) }}
		                   	
		                   	{% if app.user.myUserPage.relations.imFriend(page.slug) 
		                   	   or app.user.myUserPage.relations.imAdminOf(page.slug) %}
								{% if page.coordinates[0] != "false" %}					
									<div class="togglebutton text-right no-margin margin-top-10">
				                        <label>
				                            <b><i class="fa fa-map-marker" data-toggle="tooltip" data-placement="left"
				                            	  data-original-title="{% trans %}Spread around me{% endtrans %}"></i> 
				                            <span class="d-none d-sm-inline">
				                            	{% if page.type != "user" 
				                            	   and page.id != app.user.myUserPage.id 
				                            	   and page.city != "" %}
				                            			{% trans %}Spread around{% endtrans %}
				                            	{% elseif page.id == app.user.myUserPage.id %}
				                            			{% trans %}Spread around me{% endtrans %}
				                            	{% else %}
				                            			{% trans %}Spread around{% endtrans %}
			                    				{% endif %}
				                            </span></b>
				                            <input type="checkbox" checked="" class="checkbox d-none check-use-aroundme" id="check-use-aroundme">
				                        </label>
				                    </div>
			                    {% endif %}
		                    {% endif %}
		                    
			                <hr>

		                    <div class="togglebutton text-right pull-right no-margin btn-check-sharable d-none">
		                        <label>
		                            <b><i class="fa fa-share" data-toggle="tooltip" data-placement="left"
				                          data-original-title="{% trans %}Allow sharing{% endtrans %}"></i> 
		                            <span class="d-none d-sm-inline">{% trans %}Allow sharing{% endtrans %}</span></b>
		                            <input type="checkbox" checked="" class="checkbox d-none" id="news_check_sharable">
		                        </label>
		                    </div>
			           		<div class="float-left no-margin" id="display-scope-groups">
			           		</div>
		                </div>
		       		</div>
		       		
		       		<div class="col no-margin">
		                <button class="btn btn-blue  btn-md-2 full-width" id="btn-send-post">
		                	<i class="fa fa-check"></i> {% trans %}Send{% endtrans %}
		                </button>
		            </div> 
		        </div>
			</div>
		</div>
	</div>
</div>
{% else %}
<div class="ui-block">
	<div class="news-feed-form text-center padding-15">
		{% if app.user.myUserPage.report != null %}
			<h6 class="no-margin">
				{% trans %}Your page has been locked by{% endtrans %}<br>
				{% if app.user.myUserPage.report.closedByType == "CO_MODERATION" %}
					{% trans %}a collective moderation procedure{% endtrans %}.
				{% else %}
					{% trans %}an administrator{% endtrans %} : 
                    <a href="{{ path('page', {'slug':app.user.myUserPage.report.closedByUser.slug }) }}">
                    {{ app.user.myUserPage.report.closedByUser.name }}</a>
				{% endif %}
		
			</h6>
			{% if app.user.myUserPage.report.status == "DISABLED" %}
				{% trans %}To open a recovery procedure{% endtrans %}, 
				<a href="{{ path('recover-report', { 'id' : app.user.myUserPage.report.id }) }}">{% trans %}click here{% endtrans %}</a>.
			{% else %}
				{% trans %}A procedure to recover your page is in progress{% endtrans %}.<br>
				{% trans %}If your page is re-activated, at the end of the votes, you will be able to publish again{% endtrans %}.
			{% endif %}
		{% else %}
			<h6 class="no-margin">{% trans %}You must activate your account to post messages{% endtrans %}</h6>
			{% trans %}Check your mailbox and click on the validation link{% endtrans %}
		{% endif %}
	</div>

	{% if dashboard == "false" and app.user.myUserPage.report == null %}
		<div class="padding-10 full-width">
			<a href="{{ path('my-dashboard') }}" class="btn btn-blue padding-10 no-margin full-width">
				<i class="fa fa-angle-right"></i> {% trans %}go to the newsfeed{% endtrans %}
			</a>
		</div>
	{% endif %}
</div>
{% endif %}

{# block msg loading sending post #}
<div class="ui-block d-none" id="block-sending-msg">
	<article class="full-width hentry post">
		<span class="d-none alert-sending">
			<b><i class="fa fa-refresh"></i> {% trans %}Sending your message{% endtrans %}</b>
		</span>
		<span class="alert alert-success no-margin d-none">
			<i class="fa fa-check"></i> {% trans %}Your message has been sent{% endtrans %} !
		</span>
		<span class="alert alert-danger no-margin d-none">
			<i class="fa fa-cross"></i> {% trans %}An error occured{% endtrans %} !
		</span>
	</article>
</div>

{{ include("news/modals/select-group-scope.html.twig", { "page":page }) }}

<script>
	$( document ).ready(function() {
		var myPosition =  {{ myPosition|json_encode|raw }};
		newsObj.initFormUi(myPosition);
    });
</script>
