{% trans_default_domain 'news' %}

<div class="dropdown float-left margin-top-10">
  <button class="btn btn-outline-info dropdown-toggle no-margin" type="button" id="dropdown-scope-news" 
  		  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		  <span id="scope-lbl">
            <i class="fa fa-group"></i> 
            {% if page.type == "user" %}{% trans %}Friends{% endtrans %}{% endif %}
            {% if page.type != "user" %}{% trans %}Members{% endtrans %}{% endif %}
          </span> 
          <i class="fa fa-caret-down"></i> 
  </button>

  <div class="dropdown-menu" id="dropdown-menu-scope-news" aria-labelledby="dropdown-scope-news">
    <div class="dropdown-item" type="button">
    	<small><b><i class="fa fa-angle-down"></i> {% trans %}Who is this message for{% endtrans %} ?</b></small>
    </div>

    <button class="dropdown-item btn-select-scope-type" type="button" data-icon-lbl="group"
    		data-scope-type="friends" 
            data-scope-lbl="{% if page.type == "user" %}{% trans %}Friends{% endtrans %}{% endif %}
                            {% if page.type != "user" %}{% trans %}Members{% endtrans %}{% endif %}">

    	    <i class="fa fa-group"></i> 
                {% if page.type == "user" %}{% trans %}All my friends{% endtrans %}{% endif %}
                {% if page.type != "user" %}{% trans %}All members{% endtrans %}{% endif %}
    </button>


    {% if (app.user.myUserPage.relations.imFriend(page.slug) and page.type != "user") or 
          app.user.myUserPage.relations.imAdminOf(page.slug) %}
        {% if share is not defined or share != true %}
        <button class="dropdown-item btn-select-scope-type" type="button" data-icon-lbl="group"
        		data-scope-type="groups" data-scope-lbl="{% trans %}Groups{% endtrans %}" 
        		data-toggle="modal" data-target="#modal-select-group-scope">
        		<i class="fa fa-group"></i> 
                {% if page.type == "user" %}{% trans %}Choose from my groups of friends{% endtrans %}{% endif %}
                {% if page.type != "user" %}{% trans %}Choose from groups{% endtrans %}{% endif %}
        </button>
        {% endif %}
    {% endif %}

    <button class="dropdown-item btn-select-scope-type" type="button" data-icon-lbl="link"
    		data-scope-type="followers" data-scope-lbl="{% trans %}Followers{% endtrans %}">
    	    <i class="fa fa-link"></i> 
            {% if page.type == "user" %}{% trans %}My friends and my followers{% endtrans %}{% endif %}
            {% if page.type != "user" %}{% trans %}Members and followers{% endtrans %}{% endif %}
    </button>

    {% if app.user.myUserPage.relations.imFriend(page.slug) 
       or app.user.myUserPage.relations.imAdminOf(page.slug) %}
        {% if page.type != "user" and page.id != app.user.myUserPage.id 
           and page.city != "" and page.coordinates[0] != "false" %}
            <button class="dropdown-item btn-select-scope-type" type="button" data-icon-lbl="map-marker"
                    data-scope-type="localised" data-scope-lbl="{% trans %}Localised{% endtrans %}">
                    <i class="fa fa-map-marker"></i> {% trans %}Around{% endtrans %} <b>{{ page.city }}</b>
            </button>
        {% endif %}
    {% endif %}
    {% if page.type == "user" and page.id != app.user.myUserPage.id %}
        <button class="dropdown-item btn-select-scope-type" type="button" data-icon-lbl="map-marker"
                data-scope-type="localised" data-scope-lbl="{% trans %}Localised{% endtrans %}">
                <i class="fa fa-map-marker"></i> {% trans %}Around{% endtrans %}
        </button>
    {% endif %}
    {% if page.id == app.user.myUserPage.id %}
        <button class="dropdown-item btn-select-scope-type" type="button" data-icon-lbl="map-marker"
                data-scope-type="localised" data-scope-lbl="{% trans %}Localised{% endtrans %}">
                <i class="fa fa-map-marker"></i> {% trans %}Around{% endtrans %} <b>{% trans %}me{% endtrans %}</b>
        </button>
    {% endif %}
  </div>

</div>