{% trans_default_domain 'theme' %}

<style>
#already-loggin{
	background-color: rgba(45, 40, 40, 0.92);
	height:90px;
	border-radius:105px;
	padding:5px;
}
.img-already-loggin{
	/*border:2px solid rgba(255, 255, 255, 0.7);*/
	border-radius: 100px;
}

#already-loggin a{
	color:white;
}
.name-already-loggin{
	font-size:22px;
	margin-top:15px;
	margin-left:5px;
	color:white;
}
.city-already-loggin{
	font-size:14px;
	margin-top:-10px;
	margin-left:5px;
	color:white;
}

#already-loggin .btn-logout{
	margin-top:15px; 
    margin-right:15px;
}
</style>
<div class="col-xl-8 col-lg-10 col-md-12 col-sm-12 col-xs-12 pull-right" id="already-loggin">
    
    <a href="{{ path('logout') }}" 
        class="btn btn-control bg-red btn-logout float-right col-2" style="line-height: 50px;"
        data-toggle="tooltip" data-placement="bottom" data-original-title="{% trans %}logout{% endtrans %}">
        {# <svg class="olymp-login-icon"><use xlink:href="{{ asset('icons/icons.svg') }}#olymp-login-icon"></use></svg> #}
        <i class="fa fa-times fa-2x" style="font-size:25px;"></i> 
    </a>

    <div class="float-left">
        <a href="{{ path('my-dashboard') }}" >
            <img src="{{ asset('uploads/imgProfil/' ~ result.imageProfil) }}" alt="img" height="80" class="img-already-loggin">
        </a>
    </div>

    <div class="name-already-loggin float-left col-7 col-sm-5">
    	<a href="{{ path('my-dashboard') }}" class="elipsis" >
    		{{ result.name }}
    	</a>
   	</div>

    {% if result.city is defined and result.city != "" %}
    	<div class="city-already-loggin float-left col-7 col-sm-5">
    		<a href="{{ path('my-dashboard') }}" >
    			<i class="fa fa-map-marker"></i> {{ result.city }}
    		</a>
    	</div>
    {% endif %}

    {# {{ include("page/blocks/page-block-min.html.twig", {"result":result}) }} #}
</div>


<div class="col-xl-8 col-lg-10 col-md-12 col-sm-12 col-xs-12 pull-right">
    <br><br><hr>
    <h5 class="text-center">
        <a class="letter-white" target="_blank" href="https://gitlab.com/Alpha_Tango/nexxo/wikis/Comment-ca-marche-%3F">
            {% trans %}How it works{% endtrans %} ?
        </a>
    </h5>
    <hr>
    <h5 class="text-center">
        <a class="letter-white" target="_blank" href="https://gitlab.com/Alpha_Tango/nexxo/wikis/Comment-ca-marche-%3F">
            {% trans %}Learn{% endtrans %} <i class="fa fa-plus"></i>
        </a>
    </h5>
    <hr>
    <h5 class="text-center">
        <a class="letter-white" target="_blank" href="https://gitlab.com/Alpha_Tango/nexxo/wikis/Les-avantages">
            {% trans %}Learn +{% endtrans %} <i class="fa fa-plus"></i>
        </a>
    </h5>
    <hr>
    <div class="text-center">
        {% trans %}How to publish videos on Nexxo without risking censorship{% endtrans %} ?<br>
        {% trans %}Create your channel and publish on Peertube of course{% endtrans %} !
        <h5 class="margin-top-5">
            <a class="letter-white" target="_blank" href="https://peervideo.net/">
                <img src="{{ asset('img/peertube.png') }}" height="40">
            </a>
        </h5>
    </div>
</div>