{% trans_default_domain 'theme' %}

<div class="title h6">{% trans %}Login to your account{% endtrans %}</div>

<form class="content" action="{{ path('login') }}" method="POST">
	<div class="row">
		<div class="col-xl-12 col-lg-12 col-md-12">
			<div class="form-group label-floating is-empty">
				<label class="control-label">{% trans %}Your e-mail{% endtrans %}</label>
				<input class="form-control" placeholder="" id="username" name="_username" type="email">
			</div>
			<div class="form-group label-floating is-empty">
				<label class="control-label">{% trans %}Your password{% endtrans %}</label>
				<input class="form-control" placeholder="" id="password" name="_password" type="password">
			</div>

			<div class="remember">

				<div class="checkbox">
					<label>
						<input type="checkbox" id="remember_me" name="_remember_me" checked />
						{% trans %}Remember me{% endtrans %}
					</label>
				</div>
				<a href="{{ path("request_resetting") }}" class="forgot">{% trans %}Forgot my password{% endtrans %}</a>
			</div>

			<div class="small-12 medium-6 medium-offset-3 large-4 large-offset-4 cell">
                <input type="hidden" name="_target_path" value="{{ path('my-dashboard') }}" />

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >
                <button type="submit" class="btn btn-lg btn-primary full-width">{% trans %}Login{% endtrans %}</button>
            </div>

			<div class="orr"></div>

			<a href="{{ path("user_registration") }}" class="btn btn-purple btn-lg full-width">
				{% trans %}Create your account{% endtrans %}
			</a>

		</div>
	</div>
</form>