{% trans_default_domain 'report' %}

{% extends('theme/base-app.html.twig') %}

{% block body %}

<script src="{{ asset("js/reportObj.js") }}"></script>
<link rel="stylesheet" href="{{ asset('/css/page/page.css') }}" />

<div class="header-spacer"></div>

<div class="container app-search">
	<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
		<div class="row">
			<div class="ui-block col-12 no-padding">
				<div class="ui-block-title">
					<div class="h4">
						<i class="fa fa-balance-scale"></i> 
						<span class="font-konkretika">{% trans %}Collective moderation interface{% endtrans %}</span>
						</span>
						<a href="{{ path('all-reports-pages') }}" class="btn btn-secondary btn-sm float-right">
							<i class="fa fa-angle-left"></i> {% trans %}Back{% endtrans %}
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="ui-block col-12 no-padding">
				<div class="padding-15">
					<h5 class="full-width no-margin">
						<i class="fa fa-angle-down"></i> 
						{% trans %}The following pages have been locked by a collective moderation procedure{% endtrans %}
					</h5>
				</div>
			</div>
		</div>

		<div class="row">
			{% set i = 0 %}
            {% for key, report in reports %}
            	{% if report.aboutObj.closedByType == "CO_MODERATION" %}
					{% set i = i + 1 %}
            		{{  include("page/blocks/page-block-reported.html.twig", { 'page' : report.aboutObj }) }}
            	{% endif %}
            {% endfor %}
            {% if i == 0 %}
				<p class="col-12"><i class="fa fa-ban"></i> {% trans %}No content to display{% endtrans %}</p>
            {% endif %}
        </div>

        <div class="row margin-top-50">
        	<div class="ui-block col-12 no-padding">
				<div class="padding-15">
					<h5 class="full-width no-margin">
						<i class="fa fa-angle-down"></i> 
						{% trans %}The following pages have been locked by an administrator{% endtrans %}
					</h5>
				</div>
			</div>

		</div>

		<div class="row">
            {% set i = 0 %}
		    {% for key, report in reports %}
            	{% if report.aboutObj.closedByType == "ADMIN" %}
					{% set i = i + 1 %}
            		{{  include("page/blocks/page-block-reported.html.twig", { 'page' : report.aboutObj }) }}
            	{% endif %}
            {% endfor %}

            {% if i == 0 %}
				<p class="col-12"><i class="fa fa-ban"></i> {% trans %}No content to display{% endtrans %}</p>
            {% endif %}
        </div>
	</div>
</div>
{% endblock %}
