{% trans_default_domain 'report' %}

{% extends('theme/base-app.html.twig') %}

{% block body %}

<script src="{{ asset("js/reportObj.js") }}"></script>
<link rel="stylesheet" href="{{ asset('/css/page/page.css') }}" />

<div class="header-spacer"></div>

<div class="container app-search">
	<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
		<div class="row">
			<div class="ui-block col-12 no-padding">
				<div class="ui-block-title">
					<div class="h4">
						<i class="fa fa-balance-scale"></i> 
						<span class="font-konkretika">{% trans %}Collective moderation interface{% endtrans %}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="ui-block d-flex col-12 no-padding padding-top-15 menu-collective-mod">
				<div class=" col-4">
					<a href="{{ path('all-reports-pages') }}" class="btn btn-secondary btn-md col-12 active">
						<i class="fa fa-circle"></i> {% trans %}Pages{% endtrans %}
					</a>
				</div>
				<div class=" col-4">
					<a href="{{ path('all-reports-closed-news') }}" class="btn btn-secondary btn-md col-12">
						<i class="fa fa-newspaper-o"></i> {% trans %}Publications{% endtrans %}
					</a>
				</div>
				<div class=" col-4">
					<a href="{{ path('all-reports-closed-comments') }}" class="btn btn-secondary btn-md col-12">
						<i class="fa fa-comment"></i> {% trans %}Commentaires{% endtrans %}
					</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="ui-block col-12 no-padding">
				<a href="{{ path('all-reports-closed-pages') }}" class="btn btn-secondary btn-sm margin-top-15 margin-left-15 margin-right-15">
					<i class="fa fa-angle-right"></i> {% trans %}Show blocked content{% endtrans %}
				</a> 
				{% trans %}Retrouvez l'ensemble des Pages qui ont été bloquées précédemment{% endtrans %}
			</div>
		</div>
		<div class="row">
			<div class="ui-block col-12 no-padding">
				<div class="padding-15">
					<h5 class="full-width no-margin">
						<i class="fa fa-angle-down"></i> 
						{% trans %}The following pages have been reported by at least{% endtrans %} 
						{{ app.user.myUserPage.maxReport }} {% trans %}members{% endtrans %}.
					</h5>
					<p class="full-width no-margin">	
						{% trans %}Please, visit each page, and vote for or against their blocking{% endtrans %}.
					</p>
				</div>
			</div>
		</div>

		<div class="row">
			{% set i = 0 %}
            {% for key, report in reports %}
            	{% if report.aboutObj.isActive == true %}
					{% set i = i + 1 %}
            		{{  include("page/blocks/page-block-reported.html.twig", { 'page' : report.aboutObj }) }}
            	{% endif %}
            {% endfor %}
            {% if i == 0 %}
				<p class="col-12"><i class="fa fa-ban"></i> {% trans %}No content reported{% endtrans %}</p>
            {% endif %}
        </div>

        <div class="row margin-top-50">
        	<div class="ui-block col-12 no-padding">
				<div class="padding-15">
					<h5 class="full-width no-margin">
						<i class="fa fa-angle-down"></i> 
						{% trans %}The pages below are subject to a reactivation procedure, following a blocking
						{% endtrans %}.
					</h5>
					<p class="full-width no-margin">	
						{% trans %}Please, visit each page, and vote for or against their blocking{% endtrans %}.
					</p>
				</div>
			</div>

		</div>

		<div class="row">
            {% for key, report in reports %}
            	{% if report.aboutObj.isActive == false %}
					{% set i = i + 1 %}
            		{{  include("page/blocks/page-block-reported.html.twig", { 'page' : report.aboutObj }) }}
            	{% endif %}
            {% endfor %}

            {% if i == 0 %}
				<p class="col-12"><i class="fa fa-ban"></i> {% trans %}No content reported{% endtrans %}</p>
            {% endif %}
        </div>
	</div>
</div>
{% endblock %}
